<section class="footer">
  <div class="container-fluid">
    <div class="container">
      <div class="foot-cont">
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-6">
            <div class="navi">
              <h3>navigation</h3>
              <ul>
                <li>
                  <a href="/our-upcoming-portal/">Home</a>
                </li>
                <li>
                  <a href="/about-new/">About Us</a>
                </li>
                <li>
                  <a href="">Services </a>
                </li>
                <li>
                  <a href="">Team</a>
                </li>
                <li>
                  <a href="">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-6">
            <div class="pop-link">
              <h3>useful link</h3>
              <ul>
                <li>
                  <a href="">Create Account</a>
                </li>
                <li>
                  <a href="">Company Philosaphy</a>
                </li>
                <li>
                  <a href="">Corporate Culture </a>
                </li>
                <li>
                  <a href="/advertise-new/">Advertise with us</a>
                </li>

                <li>
                  <a href="/how-it-work-new/">How it works</a>
                </li>
                <li>
                  <a href="">Portfolio</a>
                </li>
                <li>
                  <a href="">Clint Management</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="cont">
              <h3>contact Us</h3>
              <ul>
                <li>
                  <i class="fa fa-map-marker" aria-hidden="true"></i> Pocket B Sector-5 Rohini New Delhi (102102)</li>
                <li>
                  <i class="fa fa-phone" aria-hidden="true"></i> +91 1234567898</li>
                <li>
                  <i class="fa fa-envelope-o" aria-hidden="true"></i> abcd1234@gmail.com </li>

              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="subs-foot">
              <h3>subscribe our Newsletter</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
              <form class="form-horizontal">

                <!-- Form Name -->

                <!-- Text input-->
                <div class="form-group">
                  <label class="control-label" for="email"></label>
                  <input id="email" name="email" type="email" placeholder="Enter Your Email" class="form-control input-sm" required>
                  <br>
                  <button id="subs" name="subs" class="btn btn-default">GET NOTIFIED</button>
                </div>
              </form>
              <!-- Button -->

            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">

          <div class="copyright">
            <span>© Copyright 2018 Freedom Club All Rights Reserved</span>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="foot-link">
            <ul>
              <li class="fb">
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="tw">
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="gp">
                <a href="">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </li>
              <li class="lin">
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>




<section class="bottom-bar-section">
         <div class="container-fluid">
            
               <div class="row">
                   <div class="col-xs-offset-1 col-xs-2">
                       <div class="home-bootm101101">
                           <a href="#"><i class="fa fa-home" aria-hidden="true"></i>
                           <p>Home</p>
                           </a>
                       </div>
                   </div>
                   <div class="col-xs-2">
                       <div class="home-bootm101101">
                           <a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i>
                           <p>Shoping</p>
                           </a>
                       </div>
                   </div>
                   <div class="col-xs-2">
                       <div class="home-bootm101101">
                           <a href="#"><i class="fa fa-qrcode" aria-hidden="true"></i>
                           <p>Scan</p>
                           </a>
                       </div>
                   </div>
                   <div class="col-xs-2">
                       <div class="home-bootm101101 dropup ">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-o" aria-hidden="true">
                               
                           </i>
                           <p>Account</p>
                           </a>
                           
                           <ul class="dropdown-menu">
      <li><a href="#">Log In</a></li>
      <li><a href="#">Sign Up</a></li>
    </ul>
                       </div>
                   </div>
                   
                   <div class="col-xs-2">
                       <div class="home-bootm101101"  id="not1011">
                           <a href="#"> <i class="fa fa-globe" aria-hidden="true"></i>
                           <p>Notification</p>
                           </a>
                       </div>
                   </div>
                   
               </div>
            
         </div>
         
         
  
      </section>


