<!DOCTYPE html>
<html>

<head>
    <title>Online Mobile & DTH Recharge, Utility Bill Payments, Movie, Train & Bus Ticket | 100% asli Moneyback</title>
    <link rel="shortcut icon" href="/images/bird122121201.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Online Mobile & DTH Recharge, Utility Bill Payments, Movie, Train & Bus Ticket |
        100% asli Moneyback">
    <meta name="description" content="India's smartest way to Online Recharge for Prepaid Mobile, DTH. Get
        100% cashback offers on Electricity bill, water bill, gas bill, landline & mobile postpaid bill
        payments online">
    <meta name="keyword" content="Free Online recharge, online mobile recharge, online bill payment, online
        prepaid recharge, postpaid bill payment, mobile bill payment, electricity bill payment,
        water bill payment, gas bill payment, online movie ticket booking, online train ticket
        booking, online bus ticket booking">



    <link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:500,700" rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/foundation.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main-style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/owl.theme.default.min.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/feature-text.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/themify-icons.css">

    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/main-s.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-newpage.css">
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/responsivess.css">-->

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/owl-carousel.min.js"></script>
    <script type="text/javascript" src="/javascripts/moment.js"></script>
    <script type="text/javascript" src="/javascripts/banner.js"></script>

    <!-- <script type="text/javascript" src="js/foundation.min.js"></script> -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116394954-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-116394954-1');
    </script>
    <script>
        var url = window.location.hostname;

        if (url == "freedomclub.in") {
            window.location = "https://www.freedomclub.in";
        }

    </script>
    <style>
        #demo1101 {
            border-radius: 10px;
            background: #333;
            text-align: center;
            font-size: 32px;
            margin-top: 18px;
            font-weight: bold;
            padding: 25px;
            color: #fff;
        }

        #demo1101 span {
            font-size: 25px;
            margin-left: 7px;
            margin-right: 15px;
            color: #fff;
        }

        .userdp-site-img11 {
            text-align: center;
            margin-bottom: 30px;
            margin-top: -20px;
        }

        .userdp-site-img11 img {
            border-radius: 50%;
            border: 1px solid #fff;
            margin: 10px auto;
        }

        .userdp-site-img11 h1 {
            font-size: 18px;
            color: #fff;
        }
    </style>

</head>

<body>
    <!--           top header                  -->
    <section class="top-header-section">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-5 text-left">
                        <div class="lang">
                            <div class="btn-group" style="margin-left: 0px;">
                                <span class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-share-alt" id="share"></i>
                                </span>



                                <ul class="dropdown-menu share-btn1" role="menu">

                                    <li>
                                        <a data-original-title="Twitter" rel="tooltip" href="#" class="btn btn-twitter" data-placement="left">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Facebook" rel="tooltip" href="#" class="btn btn-facebook" data-placement="left">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Google+" rel="tooltip" href="#" class="btn btn-google" data-placement="left">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="LinkedIn" rel="tooltip" href="#" class="btn btn-linkedin" data-placement="left">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Pinterest" rel="tooltip" class="btn btn-pinterest" data-placement="left">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <!--<div class="btn-group" style="margin-left: 7px;">-->
                            <!--  <span class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--    Eng-->
                            <!--    <span class="glyphicon glyphicon-chevron-down" style="font-size: 15px; top:4px; margin-left: 2px;"></span>-->
                            <!--  </span>-->
                            <!--  <ul class="dropdown-menu" role="menu">-->
                            <!--    <li>-->
                            <!--      <a href="#">Action</a>-->
                            <!--    </li>-->
                            <!--    <li>-->
                            <!--      <a href="#">Another action</a>-->
                            <!--    </li>-->
                            <!--    <li>-->
                            <!--      <a href="#">Something else here</a>-->
                            <!--    </li>-->
                            <!--    <li class="divider"></li>-->
                            <!--    <li>-->
                            <!--      <a href="#">Separated link</a>-->
                            <!--    </li>-->
                            <!--  </ul>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-2 text-center">
                        <h3 style="margin:5px;">
                            <a href="#" class="upload-bill122001">
                                <i class="fa fa-upload" aria-hidden="true"></i> Upload Your Bill</a>
                        </h3>
                        <img src="/images/icon-bird101110021.png" class="img-reponsive" id="bird1011">
                    </div>

                    <!--<div class="col-md-4 col-sm-4 col-xs-hidden text-center">-->
                    <!--    <h3 style="color:#630;">Upload Your Bill</h3>-->
                    <!--</div>-->
                    <div class="col-md-4 col-sm-4 col-xs-5 text-right">
                        <div class="lang">
                            <ul>
                                <li>
                                    <span class="cst1212">Customer Support</span>
                                    <span class="cst1212"> | &nbsp;</span>
                                </li>
                                <li>
                                    <span class="cst1212">Download App</span>
                                    <i class="fa fa-android"></i>
                                    <i class="fa fa-apple"></i>
                                </li>
                                <li id="scrl-mn">
                                    <span style="font-size:25px;cursor:pointer; color:#fff;" onclick="openNav()">&#9776;</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--          end  top header                  -->
    <!--    logo and category section          -->
    <section class="logo-section">
        <div class="container-fluid">
            <div class="container" style="padding:1px;">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <div class="logo">
                            <a href="http://freedomclub.in/">
                                <img src="/images/logo.png" class="img-responsive">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-hidden">
                        <div class="logo-add">

                            <!--<p id="demo1101"></p>-->

                            <!--<img src="/images/logo-add.jpg"  >-->
                            <div class="container" style="width:100%;">
                                <div class="row">
                                    <div class="col-md-12" data-wow-delay="0.2s">
                                        <div class="carousel slide carousel-fade" data-ride="carousel" id="quote-carousel" style="height:130px; margin-top:0px;">

                                            <!--Carousel Slides / Quotes -->
                                            <div class="carousel-inner text-center" id="header-banner">


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 text-right">
                        <div class="site-ls-btn">
                            <!--<div class="btn-group-vertical" style="margin-bottom: 10px;">-->
                            <!-- <button type="button" class="btn btn-primary"> <i class="fa fa-user" aria-hidden="true"></i> &nbsp;Login&nbsp; &nbsp;</button> -->
                            <!--    <a href='#' class="btn btn-primary"><i class="fa fa-user" aria-hidden="true"></i> &nbsp; MY Account</a>-->
                            <!--</div>-->
                            <!--<br>-->


                            <div class="btn-group-vertical" style="margin-bottom: 0px;">
                                <!-- <button type="button" class="btn btn-primary"> <i class="fa fa-user" aria-hidden="true"></i> &nbsp;Login&nbsp; &nbsp;</button> -->
                                <% if(login=="My Account"){ %>
                                    <a href='/users' class="btn btn-primary">
                                        <i class="fa fa-user" aria-hidden="true"></i> &nbsp; MY Account</a>
                                    <br>
                                    <a href='/logout' class="btn btn-primary">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp; Log Out</a>
                                    <br>
                                    <% } %>
                                        <% if(login=="Login") { %>
                                            <a class="btn btn-primary" data-toggle="modal" data-target="#Loginmodal">
                                                <i class="fa fa-user" aria-hidden="true"></i> &nbsp; Login</a>
                                            <br>
                                            <a class="btn btn-primary" data-toggle="modal" data-target="#Loginmodal">
                                                <i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp; Signup</a>
                                            <% } %>
                            </div>



                            <div class="btn-group-vertical">
                                <!-- <button type="button" class="btn btn-primary"> <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;SignUp</button> -->

                                <!-- <a href='/login' class="btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp;Logout</a> -->

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="serch-row11110101">
                    <!-- Megha menu -->
                    <div class="col-md-12 text-left">
                        <div class="collapse navbar-collapse js-navbar-collapse navi-menu" id="navi-menu111011101">
                            <ul class="nav navbar-nav">
                                <li class="dropdown mega-dropdown ">
                                    <a href="#" class="dropdown-toggle icon" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-align-justify" style="font-size: 20px;"></span>
                                    </a>
                                    <ul class="dropdown-menu mega-dropdown-menu">
                                        <li class="col-sm-3">
                                            <ul>
                                                <!--<li class="dropdown-header">Men Collection</li>-->
                                                <div id="menCollection" class="carousel slide" data-ride="carousel" style="height:100%;">
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#menCollection" data-slide-to="0" class="active"></li>
                                                        <li data-target="#menCollection" data-slide-to="1"></li>
                                                        <li data-target="#menCollection" data-slide-to="2"></li>
                                                    </ol>
                                                    <div class="carousel-inner" id="banner2">



                                                    </div>
                                                    <!-- End Carousel Inner -->
                                                    <!-- Controls -->

                                                </div>
                                            </ul>
                                        </li>
                                        <li class="col-md-2 col-sm-2">
                                            <ul>
                                                <li class="dropdown-header">Recharge</li>
                                                <li>
                                                    <a href="/recharge">Mobile</a>
                                                </li>
                                                <li>
                                                    <a href="/recharge">DTH</a>
                                                </li>
                                                <li>
                                                    <a href="/recharge">Metro Card</a>
                                                </li>
                                                <li>
                                                    <a href="/recharge">Data Card</a>
                                                </li>
                                                <li>
                                                    <a href="/recharge">More..</a>
                                                </li>
                                                <li class="divider"></li>

                                            </ul>
                                        </li>
                                        <li class="col-sm-1 col-md-1">
                                            <ul>
                                                <li class="dropdown-header">Payment</li>
                                                <li>
                                                    <a href="/recharge">Electricity Bill</a>
                                                </li>
                                                <li>
                                                    <a href="/recharge">Cable Tv Bill</a>
                                                </li>
                                                <li>
                                                    <a href="/recharge">Gas </a>
                                                </li>
                                                <li>
                                                    <a href="/recharge">More... </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-1 col-md-1">
                                            <ul>
                                                <li class="dropdown-header"> Booking </li>
                                                <li>
                                                    <a href="/products/view_more">Flight</a>
                                                </li>
                                                <li>
                                                    <a href="/products/view_more">Train </a>
                                                </li>
                                                <li>
                                                    <a href="/products/view_more">Bus </a>
                                                </li>
                                                <li>
                                                    <a href="/products/view_more">Movie </a>
                                                </li>
                                                <li>
                                                    <a href="/products/view_more">Event </a>
                                                </li>
                                                <li>
                                                    <a href="/products/view_more">More... </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-1">
                                            <ul>
                                                <li class="dropdown-header">Shop Now</li>
                                                <li>
                                                    <a href="/products/new_business/mobile">Mobile</a>
                                                </li>
                                                <li>
                                                    <a href="#">Electronic</a>
                                                </li>
                                                <li>
                                                    <a href="#">Accessories</a>
                                                </li>
                                                <li>
                                                    <a href="#">Fashion</a>
                                                </li>
                                                <li>
                                                    <a href="#">Furniture</a>
                                                </li>
                                                <li>
                                                    <a href="#">More..</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-2">
                                            <ul>
                                                <li class="dropdown-header">All Merchant </li>
                                                <li>
                                                    <a href="#">Coming Soon..</a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li class="col-sm-2">
                                            <div>
                                                <img src="../images/drop-down110011.png" class="img-responsive" style="width:100%" />
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="select-option" id="select1001111">
                                <li>
                                    <form>
                                        <div class="row">
                                            <div class="col-md-4 col-sm-4 col-xs-4  in">
                                                <input type="text" class="form-control" placeholder="Keywords">
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4  in">
                                                <select id="category" class="form-control">
                                                    <option selected>Select Location</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-xs-4  in">
                                                <select id="category1" class="form-control">
                                                    <option selected>Select Category</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                                <button class="btn btn-default search-btn" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--- Mobile Header Section --->

    <section class="mobile-logo-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 nvbaricn111" style="margin-top: 11%;">
                    <span style="font-size:25px;cursor:pointer; color:#630;" onclick="openNav()" class="opennav11">&#9776;</span>
                    <div id="mySidenav10012" class="sidenav1212">
                        <a href="javascript:void(0)" class="closebtn11" onclick="closeNav()">&times;</a>

                        <ul class="mobile-menu112451">


                            <!--<li class="user-dp-site10021">-->
                            <!--    <div class="userdp-site-img11">-->
                            <!--        <img src="/profile/1.png" class="img-responsive" width="75px" height="75px"/>-->
                            <!--       <h1>RAJ KUMAR</h1>-->
                            <!--    </div>-->
                            <!--</li>-->
                            <li data-toggle="collapse" data-target="#Recharge11101" class="collapsed active">
                                <a href="#"> Recharge
                                    <span class="fa fa-chevron-down" style="color:#fff; float: right;"></span>
                                </a>
                            </li>
                            <ul class="sub-menu collapse" id="Recharge11101">

                                <li>
                                    <a href="/recharge">Mobile</a>
                                </li>
                                <li>
                                    <a href="/recharge">DTH</a>
                                </li>
                                <li>
                                    <a href="/recharge">Metro Card</a>
                                </li>
                                <li>
                                    <a href="/recharge">Data Card</a>
                                </li>
                                <li>
                                    <a href="/recharge">More..</a>
                                </li>


                            </ul>


                            <li data-toggle="collapse" data-target="#Payments111212" class="collapsed">
                                <a href="#"> Payments
                                    <span class="fa fa-chevron-down" style="color:#fff; float: right;"></span>
                                </a>
                            </li>
                            <ul class="sub-menu collapse" id="Payments111212">
                                <li>
                                    <a href="/recharge">Electricity Bill</a>
                                </li>
                                <li>
                                    <a href="/recharge">Cable Tv Bill</a>
                                </li>
                                <li>
                                    <a href="/recharge">Gas </a>
                                </li>
                                <li>
                                    <a href="/recharge">More... </a>
                                </li>
                            </ul>


                            <li data-toggle="collapse" data-target="#Booking12212" class="collapsed">
                                <a href="#"> Booking
                                    <span class="fa fa-chevron-down" style="color:#fff; float: right;"></span>
                                </a>
                            </li>
                            <ul class="sub-menu collapse" id="Booking12212">
                                <li>
                                    <a href="/products/view_more">Flight</a>
                                </li>
                                <li>
                                    <a href="/products/view_more">Train </a>
                                </li>
                                <li>
                                    <a href="/products/view_more">Bus </a>
                                </li>
                                <li>
                                    <a href="/products/view_more">Movie </a>
                                </li>
                                <li>
                                    <a href="/products/view_more">Event </a>
                                </li>
                                <li>
                                    <a href="/products/view_more">More... </a>
                                </li>
                            </ul>


                            <li data-toggle="collapse" data-target="#Shop1221213" class="collapsed">
                                <a href="#"> Shop Now
                                    <span class="fa fa-chevron-down" style="color:#fff; float: right;"></span>
                                </a>
                            </li>
                            <ul class="sub-menu collapse" id="Shop1221213">
                                <li>
                                    <a href="#">Mobile </a>
                                </li>
                                <li>
                                    <a href="#">Electronics</a>
                                </li>
                                <li>
                                    <a href="#">Accessories </a>
                                </li>
                                <li>
                                    <a href="#">Fashion</a>
                                </li>
                                <li>
                                    <a href="#">Furniture</a>
                                </li>
                                <li>
                                    <a href="#">More..</a>
                                </li>
                            </ul>

                        </ul>
                        <div class="login-signupbtn1110110211">
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#Loginmodal" style="background-color:#fba25b; border-color:#fba25b;">LogIn</a>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#Loginmodal" style="background-color:#fba25b; border-color:#fba25b;">SignUp</a>
                        </div>
                        <!--                                     <script>-->
                        <!--/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */-->
                        <!--var dropdown = document.getElementsByClassName("dropdown-btn110111");-->
                        <!--var i;-->

                        <!--for (i = 0; i < dropdown.length; i++) {-->
                        <!--  dropdown[i].addEventListener("click", function() {-->
                        <!--    this.classList.toggle("active");-->
                        <!--    var dropdownContent = this.nextElementSibling;-->
                        <!--    if (dropdownContent.style.display === "block") {-->
                        <!--      dropdownContent.style.display = "none";-->
                        <!--    } else {-->
                        <!--      dropdownContent.style.display = "block";-->
                        <!--    }-->
                        <!--  });-->
                        <!--}-->
                        <!--</script> -->


                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="logo">
                        <a href="http://www.freedomclub.in">
                            <img src="/images/logo.png">
                        </a>
                    </div>
                </div>
                <div class="col-xs-3">


                </div>
            </div>
        </div>

    </section>


    <script>
        function openNav() {
            document.getElementById("mySidenav10012").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav10012").style.width = "0";
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#mng-db").click(function () {
                $(".tz-l-2").slideToggle();
            });
        });
    </script>

    <script>
        window.onscroll = function () { scrollFunction() };

        function myFunction11ss1(x) {
            if (x.matches) { // If media query matches
                document.getElementsByClassName("select-option").marginTop = "0px";
                document.getElementsByClassName("search-btn").marginRight = "-3% !important";
            } else {
                document.body.style.backgroundColor = "white";
            }
        }





        var x = window.matchMedia("(max-width: 990px)")
        var a111a = document.getElementById("select1001111");
        var serchrow111011 = document.getElementById("serch-row11110101");
        var navmenu111011 = document.getElementById("navi-menu111011101");
        var ggees11 = document.getElementByClassName("select-option");
        var sercggtt11 = document.getElementByClassName("search-btn");
        function scrollFunction() {

            if (document.body.scrollTop > 185 || document.documentElement.scrollTop > 185) {

                serchrow111011.style.position = "fixed";
                //  serchrow111011.style.display  = "blo";
                serchrow111011.style.zIndex = "999";
                serchrow111011.style.top = "5px";
                //a111a.style.marginRight = "-5%";
                navmenu111011.style.background = "#fff";
                navmenu111011.style.width = "103.8%";
                navmenu111011.style.paddingTop = "7px";
                ggees11.style.marginTop = "0px !important";
                ggees11.style.marginLeft = "-7% !important";
                sercggtt11.style.marginRight = "-2% !important";


                myFunction11ss1(x); // Call listener function at run time
                x.addListener(myFunction11ss1); // Attach listener function on state changes...


            }

            else if (document.body.scrollTop > 70 || document.documentElement.scrollTop > 70) {
                document.getElementById("bird1011").style.display = "block";
                document.getElementById("scrl-mn").style.display = "block";
                document.getElementById("scrl-mn").style.marginLeft = "7px";
                document.getElementById("scrl-mn").style.color = "#fff";

            }

            else {
                serchrow111011.style.position = "";
                serchrow111011.style.zIndex = "";
                navmenu111011.style.paddingTop = "0px";
                serchrow111011.style.top = "";
                a111a.style.marginRight = "";
                navmenu111011.style.background = "";

                document.getElementById("bird1011").style.display = "none";
                document.getElementById("scrl-mn").style.display = "none";

            }
        }

    </script>

<script>
        $.get('/api/banner', function (d) {
            var data = d.data;
            for (i in data) {
                if(i==0){
                    $('<div class="item active"><img src="http://103.90.241.225:5000/static/img/' + data[0].image + '" class="img-responsive add-img121201"></div>').appendTo('#header-banner');
                }else{
                    $('<div class="item"><img src="http://103.90.241.225:5000/static/img/' + data[i].image + '" class="img-responsive add-img121201"></div>').appendTo('#header-banner');
                }
                
            }
        });    
</script>

    

    <!---- 	<script> --->
    <!--//         window.onscroll = function() {scrollFunction1()};-->


    <!--//         function scrollFunction1() {-->

    <!--// }-->

    <!----  </script>--->


    <script>
        $(window).on('load', function () {



            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true,
                responsiveClass: true,

                responsive: {
                    0: {
                        items: 1,
                        nav: true,
                        dots: false

                    },
                    600: {
                        items: 3,
                        nav: false,
                        dots: false
                    },
                    1000: {
                        items: 5,
                        nav: true,
                        loop: false,
                        dots: false
                    }
                }

            })
            $(".owl-prev").html('<i class="fa fa-chevron-left"></i>');
            $(".owl-next").html('<i class="fa fa-chevron-right"></i>');
            $(".owl-prev").css({ 'background-color': '#630' });
            $(".owl-next").css({ 'background-color': '#630' });

            var owl = $("#owl-demo");

            //  owl.trigger('owl.play',1000);
            owl.owlCarousel({
                items: 5, //10 items above 1000px browser width
                itemsDesktop: [1000, 5], //5 items between 1000px and 901px
                itemsDesktopSmall: [900, 4], // betweem 900px and 601px
                itemsTablet: [600, 3], //2 items between 600 and 0
                itemsMobile: [300, 2], // itemsMobile disabled - inherit from itemsTablet option
                loop: true,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true

            });





            // Custom Navigation Events
            $(".next").click(function () {
                owl.trigger('owl.next');
            })
            $(".prev").click(function () {
                owl.trigger('owl.prev');
            })
            $(".play").click(function () {
                owl.trigger('owl.play', 1000); //owl.play event accept autoPlay speed as second parameter
            })
            $(".stop").click(function () {
                owl.trigger('owl.stop');
            })

        });
    </script>
    <script>
// // Set the date we're counting down to
// var countDownDate = new Date("June 6, 2018 17:00:00").getTime();

// // Update the count down every 1 second
// var x = setInterval(function() {

//     // Get todays date and time
//     var now = new Date().getTime();

//     // Find the distance between now an the count down date
//     var distance = countDownDate - now;

//     // Time calculations for days, hours, minutes and seconds
//     var days = Math.floor(distance / (1000 * 60 * 60 * 24));
//     var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
//     var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
//     var seconds = Math.floor((distance % (1000 * 60)) / 1000);

//     // Output the result in an element with id="demo"
//     document.getElementById("demo1101").innerHTML = days + " <span>Days</span> " + hours + " <span>Hour. </span>"
//     + minutes + "<span>Minute </span>" + seconds + "<span> Second</span> ";

//     // If the count down is over, write some text 
//     if (distance < 0) {
//         clearInterval(x);
//         document.getElementById("demo1101").innerHTML = "EXPIRED";
//     }
// }, 1000);
// </script>




    <!--- End Mobile Header Section ----->




    <!-- Signup and SignIn Modal  -->



    <!-- End Signup and SignIn Modal  -->