<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="img/avatar3.png" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>Hello, Jane</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
                <span class="input-group-btn">
                    <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li>
                <a href="../../index.html">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <!-- <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Forms</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../forms/general.html"><i class="fa fa-angle-double-right"></i> General Elements</a></li>
                    <li><a href="../forms/advanced.html"><i class="fa fa-angle-double-right"></i> Advanced Elements</a></li>
                    <li><a href="../forms/editors.html"><i class="fa fa-angle-double-right"></i> Editors</a></li>
                </ul>
            </li> -->

            <li>
                <a href="/dashboard/recharge">
                    <i class="fa fa-th"></i> <span>Recharge</span> <small class="badge pull-right bg-green">new</small>
                </a>
            </li>

            <li>
                <a href="/dashboard/booking">
                    <i class="fa fa-th"></i> <span>Booking</span> <small class="badge pull-right bg-green">new</small>
                </a>
            </li>

            <li>
                <a href="/dashboard/services">
                    <i class="fa fa-th"></i> <span>Services</span> <small class="badge pull-right bg-green">new</small>
                </a>
            </li>

            <li>
                <a href="/dashboard/affiliates">
                    <i class="fa fa-th"></i> <span>Affiliates</span> <small class="badge pull-right bg-green">new</small>
                </a>
            </li>

            <li>
                <a href="/dashboard/deal">
                    <i class="fa fa-th"></i> <span>Deal</span> <small class="badge pull-right bg-green">new</small>
                </a>
            </li>

            <li>
                <a href="/dashboard/discount">
                    <i class="fa fa-th"></i> <span>Discount Coupens</span> <small class="badge pull-right bg-green">new</small>
                </a>
            </li>

            <li>
                <a href="/dashboard/merchant">
                    <i class="fa fa-th"></i> <span>Merchant Shopes</span> <small class="badge pull-right bg-green">new</small>
                </a>
            </li>

            <li>
                <a href="/dashboard/account">
                    <i class="fa fa-th"></i> <span>Accounts</span> <small class="badge pull-right bg-green">new</small>
                </a>
            </li>

            <li>
                <a href="/dashboard/report">
                    <i class="fa fa-th"></i> <span>Report</span> <small class="badge pull-right bg-green">new</small>
                </a>
            </li>

            <li>
                <a href="/dashboard/recharge">
                    <i class="fa fa-th"></i> <span>Setting</span> <small class="badge pull-right bg-green">new</small>
                </a>
            </li>
            
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>