
<% include partials/homepage-header %>


<section class="page-section-ptb tp">
  <div class="container">
     <div class="row">
      <!--     <div class="col-lg-6 col-md-6 col-md-push-6">-->
      <!--   <div class="who-we-are-left">-->
      <!--   <div class="owl-carousel" data-nav-dots="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1">-->
      <!--    <div class="item"><img class="img-responsive full-width" src="/static/images/wwdslider1.jpg" alt="">-->
      <!--    </div>-->
          
      <!--    <div class="item"><img class="img-responsive full-width" src="/static/images/laptop.jpg" alt="">-->
      <!--    </div>-->
      <!--   </div>-->
      <!--  </div>-->
      <!--</div>-->
      <div class="col-lg-12 col-md-12 col-md-pull-0 sm-mt-30">
        <div class="section-title">
            <h6>Who we are and what we do</h6>
            <h2 class="title-effect">How do we roll</h2>
            <p>We truly care about our users and our product. We are dedicated to providing you with the best experience possible. </p>
          </div> 
          <p>We provide services to the consumers and business to the merchants. Get yourself <span class="theme-color" data-toggle="tooltip" data-placement="top" title="" data-original-title="Register">Registered</span>  with us NOW.</p>
         <div class="row mt-30">
          <div class="col-md-6">
            <ul class="list list-unstyled list-hand">
              <li> Register on our Website or Application</li>
              <li> Buy from our authorized Merchants and take a bill </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list list-unstyled list-hand">
              <li> Share your bill with us.</li>
              <li> Sit back and avail 100% Asli moneyback from us. </li>
            </ul>
          </div>
         
      </div>
       
    	
		<p>What does Freedom stand for you? To do whatever you like, do whatever you want to do. You have the choice to do a lot of things but when comes to buy yourself a thing you desire or your need, high price, inflation, unpaid bills comes on your way. If you want a lifestyle, you have a large bank balance. But not any more!!! If you want to become a part of an evolution in the way how you buy or sell our products, this is it!!!</p>

<p>Freedom Club is a franchise where you get 100% Cashback on purchases made by you or any other service availed. Gone are the days when you were receiving a percentage of your money back. Freedom Club promises to give 100% asli money back in your bank account or e-wallet. Pay Online bills and get 100% Cashback, do Online recharges and get 100% Cashback or Shopping or a much need Electronic purchase, everything turns <strong>free. </strong></p>

<p>You just have to <strong>register</strong> with your bill and meanwhile, you enjoy using your product. After a few weeks, the exact amount is transferred to your personal account.</p>

<p><strong>Break free all the chains and enjoy the new found freedom with us. No more compromising due to budget constraints.</strong></p>

<p>If you are thinking how we are able to give you such never heard of deals. Here we go</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We have partnered with a lot of Merchants and Brands and bringing to you this amazing deal. This shall make your dream to lead a stressed life. Say goodbye to inflation from your life and make inroads for a satisfying lifestyle ahead.</p>

<p>We manage to give best of services to users and Merchants alike.</p>

<p><strong>Freedom Club</strong> is available in the website as www.freedomclub.in . You can download our App from Android AppStore or iOS AppStore.</p>

<p><strong>Our Company</strong></p>

<p>Oir company has come up with a avant garde way of shopping and how business is carried out. We ignite the long lost hope of leading a life without any worry and make it into a reality. Freedom Club helps you break the chain of inflation, balance bill payment and helps to live the life as had dreamed.</p>

<p><strong>Our Mission</strong></p>

<p>To free each and every customer from the clutches of pricy price tags, which have kept them away from a better lifestyle until now.</p>

<p><strong>We Love</strong></p>

<p>Creating a new way of running a store(e-commerce store) for our partner Merchants as well as constraints free shopping for the customers.</p>

<p><strong>Testimonials</strong></p>

<p><strong>What our Associate say</strong></p>

<ol>
	<li><strong>&quot;We have been able to attract more customers because of Freedom Club. </strong>An effective way of doing business. Thanks for making us your partner.</li>
	<li><strong>Better marketing strategies had lead to splurge in the sales of our products from 38% to 79% and is expected to grow more.</strong></li>
	<li><strong>We become aware about Freedom Club from our partner company and its a worthy association. Their dedication is what makes them a sought-after franchise.</strong></li>
</ol>

<p>&nbsp;</p>
	
		
	    
      </div>  
     </div>
     </div>
  </div>
</section>


 <% include partials/home-footer %>