 
  
<% include partials/homepage-header %>
    



<style>
    .mobile{
        display:none;
    }
     .bus11{
        display:block;
    }
    [class~=dir-alp-con-left-1]:after {
     border-top-color: #630; 
}
.form-group{
    margin-top:15px;
}
</style>
	<section class="dir-alp dir-pa-sp-top">
		<div class="container">
			<div class="row">
				<div class="dir-alp-tit">
					<h1>Recharge / Payment </h1>
					
				</div>
			</div>
			<div class="row">
				<div class="dir-alp-con">
					<div class="col-md-5 dir-alp-con-left">
						<div class="dir-alp-con-left-1">
							<h3>Recharge </h3> </div>
						
						<!--==========Sub Category Filter============-->
						<div id="mobile" class="mobile flight11">
                          <h3>Recharge Your Mobile.</h3>
                          <p>
                             </p><form>
                               <label class="radio-inline mob-op">
                                 <input type="radio" name="optradio" checked="">Prepaid
                                  <span class="checkmark"></span>
                               </label>
                               <label class="radio-inline mob-op">
                                 <input type="radio" name="optradio">Postpaid
                                 <span class="checkmark"></span>
                               </label>

                                <div class="floated-label-wrapper form-group">
                                  <label for="full-name" class="active">Mobile No.</label> 
                                  <input type="text" id="full-name1" name="full name input" placeholder=" Mobile No.  " class="form-control recharge-form">
                                </div>
                                
                                <div class="floated-label-wrapper form-group">
                                  <select id="rechare-card" name="metro" class="rech form-control recharge-form">
                          <!-- <option value="1">Airtel</option>
                        <option value="10">Vodafone</option>
                        <option value="3">Idea</option>                         -->
                        <option value="1">Airtel</option>
                        <option value="2">Aircel</option>
                        <option value="3">Idea</option>
                        <option value="4">Bsnl Topup</option>
                        <option value="5">Bsnl Special</option>
                        <option value="6">Reliance CDMA</option>
                        <option value="22">Reliance CDMA</option>
                        <option value="7">Tata Docomo Topup</option>
                        <option value="8">Tata Docomo Special</option>
                        <option value="9">Tata Indicom</option>
                        <option value="10">Vodafone</option>
                        <option value="11">MTS</option>
                        <option value="12">Uninor</option>
                        <option value="13">Uninor Special</option>
                        <option value="14">Loop Mobile</option>
                        <option value="15">Videocon</option>
                        <option value="16">Videocon Special</option>
                        <option value="17">MTNL DL Topup</option>
                        <option value="18">MTNL DL Special</option>
                        <option value="19">MTNL Mumbai</option>
                        <option value="20">MTNL Mumbai Special</option>
                        <option value="21">Tata Walky</option>
                        <option value="28">VIDEOCON DTH</option>
                        <option value="26">SUN DTH</option>
                        <option value="24">BIG TV DTH</option>
                        <option value="27">TATA SKY DTH</option>
                        <option value="25">DISH DTH</option>
                        <option value="30">Vodafone Postpaid</option>
                        <option value="23">AIRTEL DTH</option></select>
                                </div>
                                
                               <div class="floated-label-wrapper form-group">
                                  <label for="full-name" class="active">Enter Amount </label> 
                                  <input type="text" id="amount" name="amount" placeholder="Enter Amount" class="form-control recharge-form">
                                </div>
                                
                                
                               
                                
                                
                                <!--<div class="floated-label-wrapper form-group">-->
                                <!--  <label for="pass" class="active">Enter </label>-->
                                <!--  <input type="text" id="amount" name="amount" placeholder="Enter Amount" class="form-control recharge-form">-->
                                <!--</div>-->
                                <input class="btn btn-primary rechrgebutton" type="submit" value="Reacharge Now">

                               
                             </form>
                          <p></p>
                        </div>
                        
                        <div id="mobile" class="mobile data111">
                          <h3>Recharge Your Data Card.</h3>
                          <p>
                             </p><form>
                               <label class="radio-inline mob-op">
                                 <input type="radio" name="optradio" checked="">Prepaid
                                  <span class="checkmark"></span>
                               </label>
                               <label class="radio-inline mob-op">
                                 <input type="radio" name="optradio">Postpaid
                                 <span class="checkmark"></span>
                               </label>

                                <div class="floated-label-wrapper form-group">
                                  <label for="full-name" class="active">Mobile No.</label> 
                                  <input type="text" id="full-name1" name="full name input" placeholder=" Mobile No.  " class="form-control recharge-form">
                                </div>
                                
                                <div class="floated-label-wrapper form-group">
                                  <select id="rechare-card" name="metro" class="rech form-control recharge-form">
                          <!-- <option value="1">Airtel</option>
                        <option value="10">Vodafone</option>
                        <option value="3">Idea</option>                         -->
                        <option value="1">Airtel</option>
                        <option value="2">Aircel</option>
                        <option value="3">Idea</option>
                        <option value="4">Bsnl Topup</option>
                        <option value="5">Bsnl Special</option>
                        <option value="6">Reliance CDMA</option>
                        <option value="22">Reliance CDMA</option>
                        <option value="7">Tata Docomo Topup</option>
                        <option value="8">Tata Docomo Special</option>
                        <option value="9">Tata Indicom</option>
                        <option value="10">Vodafone</option>
                        <option value="11">MTS</option>
                        <option value="12">Uninor</option>
                        <option value="13">Uninor Special</option>
                        <option value="14">Loop Mobile</option>
                        <option value="15">Videocon</option>
                        <option value="16">Videocon Special</option>
                        <option value="17">MTNL DL Topup</option>
                        <option value="18">MTNL DL Special</option>
                        <option value="19">MTNL Mumbai</option>
                        <option value="20">MTNL Mumbai Special</option>
                        <option value="21">Tata Walky</option>
                        <option value="28">VIDEOCON DTH</option>
                        <option value="26">SUN DTH</option>
                        <option value="24">BIG TV DTH</option>
                        <option value="27">TATA SKY DTH</option>
                        <option value="25">DISH DTH</option>
                        <option value="30">Vodafone Postpaid</option>
                        <option value="23">AIRTEL DTH</option></select>
                                </div>
                                
                               <div class="floated-label-wrapper form-group">
                                  <label for="full-name" class="active">Enter Amount </label> 
                                  <input type="text" id="amount" name="amount" placeholder="Enter Amount" class="form-control recharge-form">
                                </div>
                                
                                
                               
                                
                                
                                <!--<div class="floated-label-wrapper form-group">-->
                                <!--  <label for="pass" class="active">Enter </label>-->
                                <!--  <input type="text" id="amount" name="amount" placeholder="Enter Amount" class="form-control recharge-form">-->
                                <!--</div>-->
                                <input class="btn btn-primary rechrgebutton" type="submit" value="Reacharge Now">

                               
                             </form>
                          <p></p>
                        </div>
                        
                        <div id="mobile" class="mobile bus11">
                          <h3>Reachrge Your DTH </h3>
                          <p>
                             </p><form>

                                <div class="floated-label-wrapper form-group">
                                <label for="email">Select Operator</label>
                                <select id="metro" name="metro" class="form-control recharge-form">
                                  <option value="27">Tata Sky</option>
                                  <option value="31">Airtel</option>
                                  <option value="24">Videocon</option>
                                </select>
                                <span>
                                  <!-- <a href="#">Browse Plan</a> -->
                                </span>
                              </div>
                                <div class="floated-label-wrapper form-group">
                                <label for="full-name">Enter Card No.</label>
                                <input type="text" id="card-no" name="card_no" placeholder="Enter Card No. " class="form-control recharge-form">
                              </div>
                             <div class="floated-label-wrapper form-group">
                                <label for="pass">Enter Amount</label>
                                <input type="text" id="pass" name="password input" placeholder="Enter Amount" class="form-control recharge-form">
                              </div>
                                
                                <input class="btn btn-primary rechrgebutton" type="submit" value="Recharge Now">

                               
                             </form>
                          <p></p>
                        </div>
						<!--==========End Sub Category Filter============-->
						<!--==========Sub Category Filter============-->
						
						<!--==========End Sub Category Filter============-->
						<!--==========Sub Category Filter============-->
						
						<!--==========End Sub Category Filter============-->
					</div>
					<div class="col-md-7 dir-alp-con-right list-grid-rig-pad">
						<div class="dir-alp-con-right-1">
							<div class="row">
								<!--LISTINGS-->
								<div class="row span-none">
									<div class="col-md-3 col-sm-3 col-xs-4">
										<a href="javascript:void(0)" id="flight11">
											<div class=" com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/icon/mobile1201.png" alt=""> <p class="recharge-title12112">Mobile  </p> </div>
												
											</div>
										</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-4">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30" id="data10111">
												<div class="list-mig-lc-img recg-img"> <img src="/images/icon/data1201.png" alt=""> <p class="recharge-title12112"> Data Card  </p> </div>
												
											</div>
										</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-4">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/icon/metro1201.png" alt=""> 
												<p class="recharge-title12112">Metro Card  </p>
												</div>
												
												
												
											</div>
										</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-4">
										<a href="javascript:void(0)" id="dth">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/icon/Dth12011.png" alt=""> <p class="recharge-title12112"> DTH   </p> </div>
												
											</div>
										</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-4">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/icon/cable12011.png" alt="">  <p class="recharge-title12112">  Cable TV   </p> </div>
												
											</div>
										</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-4">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/icon/ele1201.png" alt=""> <p class="recharge-title12112">  Electricity </p> </div>
											
											</div>
										</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-4">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/icon/cable12011.png" alt=""> <p class="recharge-title12112">  Gas  </p> </div>
												
											</div>
										</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-4">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/landline1212.png" alt=""> <p class="recharge-title12112">  LandLine  </p>  </div>
												
											</div>
										</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-4">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/insurance12121.png" alt=""> <p class="recharge-title12112"> Insurance  </p> </div>
												
											</div>
										</a>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-4">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/water121212.png" alt=""> <p class="recharge-title12112">  Water Bill  </p> </div>
											
											</div>
										</a>
									</div>
									
									<div class="col-md-3 col-sm-3 col-xs-4">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/toll12121.png" alt=""> <p class="recharge-title12112"> Tool Tax </p> </div>
												
											</div>
										</a>
									</div>
									
										</a>
									</div>
									
								</div>
								<!--LISTINGS END-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<!--NEWS LETTER--->
	
	<section class="Subscribe-section">  
          
          <div class="container-fluid">
            <div class="container">
              <div class="Subscribe">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <div class="subsimg1">
                      <img src="/images/subs1.png">
                    </div>
                  </div>

                  <div class="col-md-8 col-sm-8">
                    <div class="subs-form text-center">
                        <h2>Newsletter</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                           <form class="form-horizontal">

<!-- Form Name -->

<!-- Text input-->
<div class="form-group">
  <label class="control-label active" for="email"></label>  
  <input id="email" name="email" type="email" placeholder="Enter Your Email" class="form-control input-md" required=""><br>
    <button id="subs" name="subs" class="btn btn-default">GET NOTIFIED</button>
</div>
</form>
<!-- Button -->

                    </div>
                  </div>

                  <div class="col-md-2 col-sm-2">
                    <div class="subsimg2">
                      <img src="/images/subs2.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
	
	<!--END NEWS LETTER--->
	<!--MOBILE APP-->
	
	<section class="app-section">
                <div class="container-fluid">
                  <div class="container">
                    <div class="app">
                      <div class="row">
                         <div class="col-md-8 col-sm-8 col-xs-12">
                           <div class="app-img">
                             <img src="/images/appimg.png">
                           </div>
                         </div>
                         <div class="col-md-4 col-sm-4 col-xs-12">
                           <div class="download-app">
                             <ul>
                               <li>
                                 <div class="applogo-img text-center">
                             <img src="/images/applogo.png">
                           </div>
                                </li>
                               <li>
                                 <div class="appstore-img text-center">
                             <img src="/images/appstore.png">
                           </div>
                               </li>
                               <li>
                                 <div class="playstore-img text-center">
                             <img src="/images/playstore.png">
                           </div>
                               </li>
                             </ul>
                           </div>
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              
              
              
              
              
              
              <script>
              $(document).ready(function(){
                  $("#flight11").click(function(){
                     $(".flight11").show(); 
                     $(".bus11").hide(); 
                     $(".data111").hide();
                     
                  });
                   $("#dth").click(function(){
                     $(".flight11").hide(); 
                     $(".bus11").show(); 
                     $(".data111").hide();
                     
                  });
                  $("#data10111").click(function(){
                     $(".data111").show();
                     $(".flight11").hide(); 
                     $(".bus11").hide();  
                     
                  });
              });
                  
              </script>
	
	
	
	<!--FOOTER SECTION-->
		
                   
      
       <% include partials/home-footer %>

<script>
  $(function () {
  var showClass = 'show';

  $('input').on('checkval', function () {
    var label = $(this).prev('label');
    if(this.value !== '') {
      label.addClass(showClass);
    } else {
      label.removeClass(showClass);
    }
  }).on('keyup', function () {
    $(this).trigger('checkval');
  });
});


</script>

<script>
  // When the DOM is ready, run this function
$(document).ready(function() {
  //Set the carousel options
  $('#quote-carousel, #quote-carousel1').carousel({
    pause: true,
    interval: 4000,
  });
});
</script>



<script>
  $(document).ready(function(){

$('#itemslider').carousel({ interval: 3000 });

$('.carousel-showmanymoveone .item').each(function(){
var itemToClone = $(this);

for (var i=1;i<6;i++) {
itemToClone = itemToClone.next();

if (!itemToClone.length) {
itemToClone = $(this).siblings(':first');
}

itemToClone.children(':first-child').clone()
.removeClass("cloneditem-"+(i))
.appendTo($(this));
}
});
});

</script>


<script>
    $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    }
  );
</script>
<script>
$(document).ready(function(){
    $("#share").click(function(){
        $(".social-btns").toggle();
    });
});
</script>



	<script>
	   $(document).ready(function(){
    $("#mng-db").click(function(){
        $(".tz-l-2").slideToggle();
    });
});
	</script>


 </body>
</html>