<!DOCTYPE html>

<head>




  <meta name="author" content="">

  <title>Freedom Club</title>
  <meta name="keywords" content="Freedom Club">
  <meta name="description" content="Freedom Club">


  <meta charset="utf-8">


  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="shortcut icon" href="/static/images/favicon.ico" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,500,500i,600,700,800,900|Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">
  <link rel="stylesheet" type="text/css" href="/stylesheets/partner/plugins-css.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/partner/custom.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/partner/typography.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/partner/shortcodes/shortcodes.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/partner/shortcodes/side-panel.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/partner/style.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/partner/agency-02.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/partner/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/partner/skins/skin-red.css" data-style="styles" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113418949-1"></script>
  <meta name="google-site-verification" content="xJqleShU2zQ5past6ZGMafkfr_OMKHgFl2HNC4b4cTs" />
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-113418949-1');
  </script>
  <style>
    .list-inline li {
      padding: 0 !important;
    }
  </style>
</head>
<script>


</script>

<body id="diser">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul>
      <a href="/">
        <img src="/static/images/logo.png" width="100px" style="margin-top: -13%;margin-left: -17px;width: 177px">
      </a>
      <li>
        <a href="/">Home</a>
      </li>
      <li class="dropdown">
        <a href="#" onclick="myFunction()" class="dropbtn"> AboutUs
          <i class="fa fa-angle-down fa-indicator"></i>
        </a>
        <ul id="myDropdown" class="dropdown-content">

          <li>
            <a href="/about-us">Freedom Club</a>
          </li>
          <li>
            <a href="/mission">Mission & Vision</a>
          </li>
          <!-- <li><a href="vision.html">Vision</a></li>

	 <li><a href="strategy.html">Strategy</a></li>
	 <li><a href="objective.html">Objective</a></li>-->
        </ul>
      </li>




      <li class="dropdown">
        <a href="#" onclick="myFunction1()" class="dropbtn"> Action Plan
          <i class="fa fa-angle-down fa-indicator"></i>
        </a>
        <ul id="myDropdown1" class="dropdown-content">

          <!-- <li><a href="theidea.html">The Idea</a></li>-->
          <li>
            <a href="/how-it-works">How It Works</a>
          </li>
        </ul>
      </li>




      <!--<li><a href="#">News & Media</a></li>-->
      <li>
        <a href="/services">Services</a>
      </li>
      <li>
        <a href="/be-a-franchise">Be a Franchise</a>
      </li>
      <li>
        <a href="/careers">Careers</a>
      </li>
      <li>
        <a href="http://www.blog.freedomclub.in/" target="_blank">Our Blog</a>
      </li>
      <li>
        <a href="/contact-us">Contact Us</a>
      </li>
      <li>
        <a href="https://www.google.com/url?q=https://play.google.com/store/apps/details?id%3Dcom.freedomclub%26hl%3Den&sa=D&ust=1518502836865000&usg=AFQjCNFZQTQCWh77t9vM6xJ1O48ps9j-2w">
          <img src="static/images/googleplay.png" style="width:85%">
        </a>
      </li>




    </ul>
  </div>

  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="margin-left: 17%">
        <div class="box-one" style="width: 50%;padding: 4%;">

          <ul>
            <li style="cursor: pointer;" data-toggle="modal" data-target=".bs-example1-modal-sm">
              <b> Be a Fredom State Partner(FSP)</b>



              <div class="modal fade bs-example1-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                  <div class="modal-content" style="padding: 14%;width:167%">
                    <h4>Fredom State Partner(FSP) Job roles</h4>
                    <ul>
                      <li>
                        Governs a state/territory.
                      </li>
                      <li>Recruits FP's</li>
                      <li>Manages FP,FMP and Merchants</li>
                      <li>Approves FMP & Merchants for recruiting</li>
                      <li>Franchise Holder</li>
                      <li>Commission</li>
                      <a href="/">
                        <button type="button" class="btn btn-default">Close</button>
                      </a>
                      <a href="/new_register">
                        <button type="button" class="btn btn-primary">Apply</button>
                      </a>
                    </ul>
                  </div>
                </div>
              </div>
            </li>


            <li style="cursor: pointer;" data-toggle="modal" data-target=".bs-example2-modal-sm">
              <b> Be a Fredom Partner(FP)</b>

              <div class="modal fade bs-example2-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                  <div class="modal-content" style="padding: 14%;width:167%">
                    <h4>Fredom Partner(FP) Job roles</h4>
                    <ul>
                      <li>
                        Recruits authourized FMP's & Merchants
                      </li>
                      <li>One FP at every group of pincodes</li>
                      <li>Franchise Holder</li>
                      <li>Delivery Partner</li>
                      <li>Advertisement</li>
                      <li>Commission</li>
                      <a href="/">
                        <button type="button" class="btn btn-default">Close</button>
                      </a>
                      <a href="/new_register">
                        <button type="button" class="btn btn-primary">Apply</button>
                      </a>
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li style="cursor: pointer;" data-toggle="modal" data-target=".bs-example3-modal-sm">
              <b>Be a Fredom Micro Partner(FMP)</b>

              <div class="modal fade bs-example3-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                  <div class="modal-content" style="padding: 14%;width:167%">
                    <h4>Fredom Micro Partner(FMP) Job roles</h4>
                    <ul>
                      <li>
                        Recruits authourized Merchants
                      </li>
                      <li>One FP at every group of pincodes</li>
                      <li>Franchise Holder</li>
                      <li>Delivery Partner</li>
                      <li>Advertisement Partner</li>
                      <li>Commission</li>
                      <a href="/">
                        <button type="button" class="btn btn-default">Close</button>
                      </a>
                      <a href="/new_register">
                        <button type="button" class="btn btn-primary">Apply</button>
                      </a>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li style="cursor: pointer;" data-toggle="modal" data-target=".bs-example4-modal-sm">
              <b> Associate with us as a merchant</b>

              <div class="modal fade bs-example4-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                  <div class="modal-content" style="padding: 14%;width:167%">
                    <h4>Associate with us as a merchant</h4>
                    <ul>
                      <li>
                        Unique Merchant at every pincode
                      </li>
                      <li>Handle customers & provide them printed bill</li>
                      <li>Manage sales</li>
                      <li>Cordinate with Freedom Club for Cashback process</li>
                      <a href="/">
                        <button type="button" class="btn btn-default">Close</button>
                      </a>
                      <a href="/new_register">
                        <button type="button" class="btn btn-primary">Apply</button>
                      </a>
                    </ul>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>
        <div class="box-two">
          <img src="/static/images/16.jpg" style="width: 100%">
        </div>
      </div>
    </div>

  </div>


  <div class="container tp-header ">
    <div class="col-lg-3 col-sm-4 top-header">
      <ul style="font-weight:bold;">
        <li>Customer Care: </li>
        <li>+91-8448448618</li>
      </ul>
    </div>


    <div class="col-lg-4 col-sm-4 top-header text-right">
      <ul>
        <li style="font-weight:bold;">
          <a href="/our-upcoming-portal/" target="_blank">Visit Our Online Portal</a>
        </li>
      </ul>
    </div>


    <div class="col-lg-5 col-sm-4 col-xs-5 sideright">
      <ul>
        <li class="dropdown" onclick="myFunction2()">

          <a href="#" class="dropbtn" style="color:#603813"> Welcome: Vicky
            <i class="fa fa-angle-down fa-indicator"></i>
          </a>
          <ul id="myDropdown2" class="dropdown-content reg-lo">

            <li>
              <a href="/logout_view">Logout</a>
            </li>

            <li>
              <a href="/user_dashboard">MyProfile</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>



  </div>
  <header class="header burger">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6">
          <div class="logo">
            <a href="/">
              <img class="img-responsive img-small" src="/static/images/logo.png" alt=""> </a>
          </div>
        </div>
        <div class="col-xs-6 text-right">
          <a href="#" class="menu-icon medium side-panel-trigger" onclick="openNav()">
            <span class="ti-menu"></span>
          </a>
        </div>
      </div>
    </div>
  </header>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";

    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <style>
    form {
      padding: 3%;
    }

    p {
      text-align: center;
    }

    .wrapper {
      padding: 3%;
    }

    p a {
      color: #f9bd8d;
    }

    p a:hover {
      color: #603814;
    }
  </style>
  <div class="modal fade" id="myModa13" role="dialog" style="position:absolute; z-index:999999;">
    <div class="modal-dialog">
      <div class="modal-content otp-madal">
        <div class="kw-modal kw-login-modal">
          <header class="kw-modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Mobile Verification</h3>
            <div style="color:red;" id="msg_div34"></div>
          </header>
          <div class="kw-modal-content">
            <form method="POST" action="/vweb_verify_otp/" name="myform">
              <ul>
                <li class="row">
                  <div class="col-xs-12">
                    <label for="login-username" class="kw-">Enter your 4 digits OTP </label>
                    <div class="kw-input-wrapper">

                      <div id="divOuter">
                        <div id="divInner">
                          <input id="other_otp" type="text" maxlength="4" />
                        </div>
                        <div>





                        </div>
                        <!--/ .kw-input-wrap -->
                      </div>
                </li>
              </ul>
              <button type="button" class="kw-btn-medium kw-yellow onesotp otp-button">Submit</button>
            </form>
            </div>
            </div>
          </div>
        </div>
      </div>
     
      <div class="wrapper" style="margin-top:7%;">
        <p>From your account dashboard you can view your
          <a href="#">recent orders</a>, manage your
          <a href="#">shipping and billing addresses</a> and
          <a href="#">edit your password and account details</a>.</p>
        <span style="text-align:center">
          <div style="color:red;" id="msgd45"></div>
        </span>
        <h2 style="text-align:center; font-size:18px;margin-bottom-10px">
          <b>Please Complete Registration</b>
        </h2>


        <div class="radio-inline" style="margin-left:20%">
          <label>
            <input type="radio" id="optionsRadios1" name="mp" class="searchbycap" value="5" checked> FSP (Freedom State partner)
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" id="optionsRadios1" name="mp" class="searchbycap" value="6" checked> FP (Freedom Partner)
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" id="optionsRadios1" name="mp" class="searchbycap" value="7" checked> FMP (Freedom Micro Partner)
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" id="optionsRadios1" name="mp" class="searchbycap" value="8" checked> FM (Freedom Merchants)
          </label>
        </div>


        <form id="contactForm" method="POST" action="/users/partner">

          <div class="form-group m-nom">
            <label for="exampleInputName2">Other Mobile No*</label>
            <input type="number" class="form-control" id="vnumber" placeholder="Enter Your Mobile No" maxlength="11" name="mobile_no">
            <span style="color:red;" id="odnn"></span>

          </div>
          <input type="hidden" id="user_id" name="user_id" value="16" placeholder="Enter Mobile No" maxlength="11" >
          <div class="form-group" id="comp">
            <label class="control-label" for="exampleInputName2">Company/Other Name*</label>
            <input type="text" class="form-control" id="vcompany" name="company_name" placeholder="Enter Your Company Name" >
            <span style="color:red;" id="cmp"></span>
          </div>
          <div class="form-group">
            <label for="exampleInputName2">Country*</label>
            <select id="country" class="category1 form-control" name="country" style="border-radius:5px" >
              <option value="Afghanistan">Afghanistan</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="American Samoa">American Samoa</option>
              <option value="Andorra">Andorra</option>
              <option value="Angola">Angola</option>
              <option value="Anguilla">Anguilla</option>
              <option value="Antartica">Antarctica</option>
              <option value="Antigua and Barbuda">Antigua and Barbuda</option>
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Aruba">Aruba</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan</option>
              <option value="Bahamas">Bahamas</option>
              <option value="Bahrain">Bahrain</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Barbados">Barbados</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>
              <option value="Belize">Belize</option>
              <option value="Benin">Benin</option>
              <option value="Bermuda">Bermuda</option>
              <option value="Bhutan">Bhutan</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Bosnia and Herzegowina">Bosnia and Herzegowina</option>
              <option value="Botswana">Botswana</option>
              <option value="Bouvet Island">Bouvet Island</option>
              <option value="Brazil">Brazil</option>
              <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
              <option value="Brunei Darussalam">Brunei Darussalam</option>
              <option value="Bulgaria">Bulgaria</option>
              <option value="Burkina Faso">Burkina Faso</option>
              <option value="Burundi">Burundi</option>
              <option value="Cambodia">Cambodia</option>
              <option value="Cameroon">Cameroon</option>
              <option value="Canada">Canada</option>
              <option value="Cape Verde">Cape Verde</option>
              <option value="Cayman Islands">Cayman Islands</option>
              <option value="Central African Republic">Central African Republic</option>
              <option value="Chad">Chad</option>
              <option value="Chile">Chile</option>
              <option value="China">China</option>
              <option value="Christmas Island">Christmas Island</option>
              <option value="Cocos Islands">Cocos (Keeling) Islands</option>
              <option value="Colombia">Colombia</option>
              <option value="Comoros">Comoros</option>
              <option value="Congo">Congo</option>
              <option value="Congo">Congo, the Democratic Republic of the</option>
              <option value="Cook Islands">Cook Islands</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Cota D'Ivoire">Cote d'Ivoire</option>
              <option value="Croatia">Croatia (Hrvatska)</option>
              <option value="Cuba">Cuba</option>
              <option value="Cyprus">Cyprus</option>
              <option value="Czech Republic">Czech Republic</option>
              <option value="Denmark">Denmark</option>
              <option value="Djibouti">Djibouti</option>
              <option value="Dominica">Dominica</option>
              <option value="Dominican Republic">Dominican Republic</option>
              <option value="East Timor">East Timor</option>
              <option value="Ecuador">Ecuador</option>
              <option value="Egypt">Egypt</option>
              <option value="El Salvador">El Salvador</option>
              <option value="Equatorial Guinea">Equatorial Guinea</option>
              <option value="Eritrea">Eritrea</option>
              <option value="Estonia">Estonia</option>
              <option value="Ethiopia">Ethiopia</option>
              <option value="Falkland Islands">Falkland Islands (Malvinas)</option>
              <option value="Faroe Islands">Faroe Islands</option>
              <option value="Fiji">Fiji</option>
              <option value="Finland">Finland</option>
              <option value="France">France</option>
              <option value="France Metropolitan">France, Metropolitan</option>
              <option value="French Guiana">French Guiana</option>
              <option value="French Polynesia">French Polynesia</option>
              <option value="French Southern Territories">French Southern Territories</option>
              <option value="Gabon">Gabon</option>
              <option value="Gambia">Gambia</option>
              <option value="Georgia">Georgia</option>
              <option value="Germany">Germany</option>
              <option value="Ghana">Ghana</option>
              <option value="Gibraltar">Gibraltar</option>
              <option value="Greece">Greece</option>
              <option value="Greenland">Greenland</option>
              <option value="Grenada">Grenada</option>
              <option value="Guadeloupe">Guadeloupe</option>
              <option value="Guam">Guam</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guinea">Guinea</option>
              <option value="Guinea-Bissau">Guinea-Bissau</option>
              <option value="Guyana">Guyana</option>
              <option value="Haiti">Haiti</option>
              <option value="Heard and McDonald Islands">Heard and Mc Donald Islands</option>
              <option value="Holy See">Holy See (Vatican City State)</option>
              <option value="Honduras">Honduras</option>
              <option value="Hong Kong">Hong Kong</option>
              <option value="Hungary">Hungary</option>
              <option value="Iceland">Iceland</option>
              <option value="India" selected>India</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iran">Iran (Islamic Republic of)</option>
              <option value="Iraq">Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Israel">Israel</option>
              <option value="Italy">Italy</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              <option value="Jordan">Jordan</option>
              <option value="Kazakhstan">Kazakhstan</option>
              <option value="Kenya">Kenya</option>
              <option value="Kiribati">Kiribati</option>
              <option value="Democratic People's Republic of Korea">Korea, Democratic People's Republic of</option>
              <option value="Korea">Korea, Republic of</option>
              <option value="Kuwait">Kuwait</option>
              <option value="Kyrgyzstan">Kyrgyzstan</option>
              <option value="Lao">Lao People's Democratic Republic</option>
              <option value="Latvia">Latvia</option>
              <option value="Lebanon">Lebanon</option>
              <option value="Lesotho">Lesotho</option>
              <option value="Liberia">Liberia</option>
              <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
              <option value="Liechtenstein">Liechtenstein</option>
              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Macau">Macau</option>
              <option value="Macedonia">Macedonia, The Former Yugoslav Republic of</option>
              <option value="Madagascar">Madagascar</option>
              <option value="Malawi">Malawi</option>
              <option value="Malaysia">Malaysia</option>
              <option value="Maldives">Maldives</option>
              <option value="Mali">Mali</option>
              <option value="Malta">Malta</option>
              <option value="Marshall Islands">Marshall Islands</option>
              <option value="Martinique">Martinique</option>
              <option value="Mauritania">Mauritania</option>
              <option value="Mauritius">Mauritius</option>
              <option value="Mayotte">Mayotte</option>
              <option value="Mexico">Mexico</option>
              <option value="Micronesia">Micronesia, Federated States of</option>
              <option value="Moldova">Moldova, Republic of</option>
              <option value="Monaco">Monaco</option>
              <option value="Mongolia">Mongolia</option>
              <option value="Montserrat">Montserrat</option>
              <option value="Morocco">Morocco</option>
              <option value="Mozambique">Mozambique</option>
              <option value="Myanmar">Myanmar</option>
              <option value="Namibia">Namibia</option>
              <option value="Nauru">Nauru</option>
              <option value="Nepal">Nepal</option>
              <option value="Netherlands">Netherlands</option>
              <option value="Netherlands Antilles">Netherlands Antilles</option>
              <option value="New Caledonia">New Caledonia</option>
              <option value="New Zealand">New Zealand</option>
              <option value="Nicaragua">Nicaragua</option>
              <option value="Niger">Niger</option>
              <option value="Nigeria">Nigeria</option>
              <option value="Niue">Niue</option>
              <option value="Norfolk Island">Norfolk Island</option>
              <option value="Northern Mariana Islands">Northern Mariana Islands</option>
              <option value="Norway">Norway</option>
              <option value="Oman">Oman</option>
              <option value="Pakistan">Pakistan</option>
              <option value="Palau">Palau</option>
              <option value="Panama">Panama</option>
              <option value="Papua New Guinea">Papua New Guinea</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Peru">Peru</option>
              <option value="Philippines">Philippines</option>
              <option value="Pitcairn">Pitcairn</option>
              <option value="Poland">Poland</option>
              <option value="Portugal">Portugal</option>
              <option value="Puerto Rico">Puerto Rico</option>
              <option value="Qatar">Qatar</option>
              <option value="Reunion">Reunion</option>
              <option value="Romania">Romania</option>
              <option value="Russia">Russian Federation</option>
              <option value="Rwanda">Rwanda</option>
              <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
              <option value="Saint LUCIA">Saint LUCIA</option>
              <option value="Saint Vincent">Saint Vincent and the Grenadines</option>
              <option value="Samoa">Samoa</option>
              <option value="San Marino">San Marino</option>
              <option value="Sao Tome and Principe">Sao Tome and Principe</option>
              <option value="Saudi Arabia">Saudi Arabia</option>
              <option value="Senegal">Senegal</option>
              <option value="Seychelles">Seychelles</option>
              <option value="Sierra">Sierra Leone</option>
              <option value="Singapore">Singapore</option>
              <option value="Slovakia">Slovakia (Slovak Republic)</option>
              <option value="Slovenia">Slovenia</option>
              <option value="Solomon Islands">Solomon Islands</option>
              <option value="Somalia">Somalia</option>
              <option value="South Africa">South Africa</option>
              <option value="South Georgia">South Georgia and the South Sandwich Islands</option>
              <option value="Span">Spain</option>
              <option value="SriLanka">Sri Lanka</option>
              <option value="St. Helena">St. Helena</option>
              <option value="St. Pierre and Miguelon">St. Pierre and Miquelon</option>
              <option value="Sudan">Sudan</option>
              <option value="Suriname">Suriname</option>
              <option value="Svalbard">Svalbard and Jan Mayen Islands</option>
              <option value="Swaziland">Swaziland</option>
              <option value="Sweden">Sweden</option>
              <option value="Switzerland">Switzerland</option>
              <option value="Syria">Syrian Arab Republic</option>
              <option value="Taiwan">Taiwan, Province of China</option>
              <option value="Tajikistan">Tajikistan</option>
              <option value="Tanzania">Tanzania, United Republic of</option>
              <option value="Thailand">Thailand</option>
              <option value="Togo">Togo</option>
              <option value="Tokelau">Tokelau</option>
              <option value="Tonga">Tonga</option>
              <option value="Trinidad and Tobago">Trinidad and Tobago</option>
              <option value="Tunisia">Tunisia</option>
              <option value="Turkey">Turkey</option>
              <option value="Turkmenistan">Turkmenistan</option>
              <option value="Turks and Caicos">Turks and Caicos Islands</option>
              <option value="Tuvalu">Tuvalu</option>
              <option value="Uganda">Uganda</option>
              <option value="Ukraine">Ukraine</option>
              <option value="United Arab Emirates">United Arab Emirates</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="United States">United States</option>
              <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Uzbekistan">Uzbekistan</option>
              <option value="Vanuatu">Vanuatu</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Vietnam">Viet Nam</option>
              <option value="Virgin Islands (British)">Virgin Islands (British)</option>
              <option value="Virgin Islands (U.S)">Virgin Islands (U.S.)</option>
              <option value="Wallis and Futana Islands">Wallis and Futuna Islands</option>
              <option value="Western Sahara">Western Sahara</option>
              <option value="Yemen">Yemen</option>
              <option value="Yugoslavia">Yugoslavia</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
            </select>
            <span style="color:red;" id="cntry"></span>

          </div>



          <div class="form-group">
            <label for="exampleInputName2">State*</label>
            <div class="name">
              <select id="state" class="category1 form-control" name="state" style="border-radius:5px" >
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi" selected>Delhi</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Orissa">Orissa</option>
                <option value="Pondicherry">Pondicherry</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttaranchal">Uttaranchal</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="West Bengal">West Bengal</option>
              </select>
            </div>
          </div>

          <span style="color:red;" id="stt"></span>




          <div class="form-group">
            <label for="exampleInputName2">City*</label>
            <div class="name">
              <select id="city" class="category1 form-control" name="city" style="border-radius:5px" >
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi" selected>Delhi</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Orissa">Orissa</option>
                <option value="Pondicherry">Pondicherry</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttaranchal">Uttaranchal</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="West Bengal">West Bengal</option>
              </select>
              <span style="color:red;" id="cty"></span>
            </div>
          </div>


          <div class="form-group">
            <label for="exampleInputName2">Place*</label>

            <input type="text" id="place" name="place" class="form-control" placeholder="Enter Your Place" maxlength="6" >
            <span style="color:red;" id="pls"></span>

          </div>
          <div class="form-group">
            <label for="exampleInputName2">Pin Code*</label>
            <input type="text" name="pin_code" class="form-control" id="pincode" placeholder="Pin Code">
            <span style="color:red;" id="pic"></span>
          </div>

          <div class="form-group">
            <label for="exampleInputName2">Industry*</label>
            <select id="industry" name="industry" class="category1 form-control" onChange="getcategory(this.value);" name="category1" style="border-radius:5px"
              >

              <option value="1">Agriculture Equipments</option>

              <option value="2">Agriculture Products</option>

              <option value="3">Apparel &amp; Fashion</option>

              <option value="4">Automobile</option>

              <option value="5">Ayurvedic &amp; Herbal Products</option>

              <option value="6">Business Related Services</option>

              <option value="7">Chemical machineries and Plants</option>

              <option value="8">Computer Products</option>

              <option value="9">Construction</option>

              <option value="10">Construction Equipments</option>

              <option value="11">Cosmetics</option>

              <option value="12">Dyes &amp; Chemicals</option>

              <option value="13">Electronics &amp; Electrical</option>

              <option value="14">Energy</option>

              <option value="15">Food &amp; Beverages</option>

              <option value="16">Furniture</option>

              <option value="17">Gems &amp; Jewellery</option>

              <option value="18">General Industrial Equipment</option>

              <option value="19">General Mechanical Components</option>

              <option value="20">Handicrafts &amp; Gifts</option>

              <option value="21">Hardware</option>

              <option value="22">Home &amp; Garden</option>

              <option value="23">Home Textiles &amp; Furnishings</option>

              <option value="24">Hotels accommodation service</option>

              <option value="25">Industrial Gates and Shutters</option>

              <option value="26">Industrial Supplies &amp; Equipments</option>

              <option value="27">Leather Made Products</option>

              <option value="28">Medical Products</option>

              <option value="29">Metals &amp; Minerals</option>

              <option value="30">Musical Instruments</option>

              <option value="31">Natural Stones</option>

              <option value="32">Office Supplies</option>

              <option value="33">Packaging Supplies</option>

              <option value="34">Paper Products</option>

              <option value="35">Pharmaceuticals Machinery</option>

              <option value="36">Plastic Products</option>

              <option value="37">Plastics Machinery</option>

              <option value="38">Printing &amp; Publishing</option>

              <option value="39">Real Estate</option>

              <option value="40">Rubber Products</option>

              <option value="41">Scientific Instrument</option>

              <option value="42">Sports goods &amp; Products</option>

              <option value="43">Telecom Products</option>

              <option value="44">Textile Machinery</option>

              <option value="45">Travels &amp; Transports</option>

              <option value="46">Yarn &amp; Fabrics</option>

            </select>
            <span style="color:red;" id="ind"></span>
          </div>


          <div class="form-group">
            <label for="exampleInputName2">Sub Industry*</label>
            <select id="subindustry" class="category1 form-control" name="sub_industry" style="border-radius:5px">
              <option>--Select Subcategory--</option>
              <option value="240">Air conditioners</option>
              <option value="241">Alternators</option>
              <option value="242">Boiler And Heaters</option>
              <option value="243">Cells And Batteries</option>
              <option value="244">Communication Services</option>
              <option value="245">Computer Software</option>
              <option value="246">Conductors And Inductors</option>
              <option value="247">Consumer electronics</option>
              <option value="248">Electrical Equipments</option>
              <option value="249">Electrical Work</option>
              <option value="250">Electronics Components</option>
              <option value="251">Electronics Equipments</option>
              <option value="252">Fans</option>
              <option value="253">Home Appliances</option>
              <option value="254">Insulator</option>
              <option value="255">Lift</option>
              <option value="256">Light and Bulb</option>
              <option value="257">Meter And Boxes</option>
              <option value="258">Power Generation</option>
              <option value="259">Pump And Motor And Compressors</option>
              <option value="260">Refrigeration</option>
              <option value="261">Scientific Instruments</option>
              <option value="262">Transformers and Capacitors</option>
              <option value="263">Valve And Gauge</option>
              <option value="264">Welding Electrodes</option>
              <option value="265">Wire And Cable</option>
              <option value="322">Gases</option>
            </select>
            <span style="color:red;" id="sbind"></span>
          </div>

          <div class="form-group">
            <label>Complete Address Or Location*</label>
            <textarea id="vaddress" name="full_address" class="form-control" rows="3"></textarea>
            <span style="color:red;" id="vadr"></span>
          </div>

          <div class="form-group">
            <label for="exampleInputName2">PAN No*</label>
            <input type="text" name="pan_no" class="form-control" id="panno" maxlength="10" minlength="10" placeholder="PAN No" >
            <span style="color:red;" id="pan"></span>
          </div>



          <div class="form-group">
            <label for="exampleInputName2">GST No*</label>
            <input type="text" name="gst_no" class="form-control" id="gstno" maxlength="15" minlength="15" placeholder="Enter Your GST No" >
            <span style="color:red;" id="gst"></span>
          </div>


          <div class="form-group">
            <label for="exampleInputName2">Aadhaar No*</label>
            <input type="text" name="addhar_no" class="form-control" id="adharno" maxlength="12" minlength="11" placeholder="Enter Your Aadhaar No" >
            <span style="color:red;" id="adhar"></span>
          </div>

          <label>Office Address*</label>
          <textarea name="office_address" class="form-control" id="officeaddress" rows="3"></textarea>
          <span style="color:red;" id="ofadr"></span>
          <h3>Bank A/c.Details.</h3>

          <div class="form-group">
            <label for="exampleInputName2">A/c .No*</label>
            <input type="text" name="account_no" class="form-control" id="accountno" placeholder="Enter Your A/c No" maxlength="16" >
            <span style="color:red;" id="acn"></span>
          </div>

          <div class="form-group">
            <label for="exampleInputName2">Name*</label>
            <input type="text" name="account_name" class="form-control" id="assocname" placeholder="Enter Your Name" >
            <span style="color:red;" id="ac_name"></span>
          </div>


          <div class="form-group">
            <label for="exampleInputName2">Bank Name*</label>
            <input type="text" name="bank_name" class="form-control" id="bankname" placeholder="Enter Your Bank Name" >
            <span style="color:red;" id="bname"></span>
          </div>
          <div class="form-group">
            <label for="exampleInputName2">Branch*</label>
            <input type="text" name="branch" class="form-control" id="branch" placeholder="Enter Your Branch Name" >
            <span style="color:red;" id="branchname"></span>
          </div>

          <div class="form-group">
            <label for="exampleInputName2">IFSC Code*</label>
            <input type="text" name="ifsc_code" class="form-control" id="ifsc" placeholder="Enter Your IFSC Code" >
            <span style="color:red;" id="ifsccode"></span>
          </div>


          <h3>Mode of Payment Require* </h3>
          <div class="radio-inline">
            <label>
              <input type="radio" name="payment_mode" class="ptype" id="optionsRadios1" value="Online" checked> Online
              <span style="color:red;" id="paymode"></span>
            </label>
          </div>

          <div class="radio-inline">
            <label>
              <input type="radio" name="payment_mode" class="ptype" id="optionsRadios1" value="DD" checked> DD
            </label>
          </div>

          <div class="radio-inline">
            <label>
              <input type="radio" name="payment_mode" class="ptype" id="optionsRadios1" value="Cash" checked> Cash
            </label>
          </div>
          <span style="color:red;" id="mode"></span>
          <br>
          <button type="sumbit" class="btn btn-default vsignup" style=" color:#fff;margin-top:1%;   padding: 1% 10%;
    background: #603814;">Submit
  </button>
        </form>




      </div>





      <script>


      

        $(".vsignup").click(function () {
          var type = $("input[name='mp']:checked").val();
          var ptype = $("input[name='ptype']:checked").val();
          var user_id = $('#user_id').val();
          var vnumber = $('#vnumber').val();
          var vcompany = $('#vcompany').val();
          var vaddress = $('#vaddress').val();
          var panno = $('#panno').val();
          console.log(panno);
          var address = $('#address').val();
          var pincode = $('#pincode').val();
          var place = $('#place').val();
          var gstno = $('#gstno').val();
          var adharno = $('#adharno').val();
          var ifsccode = $('#ifsccode').val();
          var assocname = $('#assocname').val();
          var officeaddress = $('#officeaddress').val();
          var accountno = $('#accountno').val();
          var gender = $("#gender option:selected").val();
          var country = $("#country option:selected").val();
          var state = $("#state option:selected").val();
          var city = $("#city option:selected").val();
          var industry = $("#industry option:selected").val();
          var subindustry = $("#subindustry option:selected").val();

          var bankname = $('#bankname').val();
          var branch = $('#branch').val();
          var ifsc = $('#ifsc').val();



          if (vnumber.length != 10) {

            $("#odnn").html('Please enter your mobile Number..');
            $("html, body").animate({ scrollTop: 0 }, 300);
            $("#vnumber").css("border", "1px solid red");



            return false;
          } else {

            $("#vnumber").css("border", "1px solid green");
            $("#odnn").css("display", "none");

          }

          /*Company Validation*/

          if (vcompany == "") {
            $("#cmp").html('Please enter your Company Name..');
            $("html, body").animate({ scrollTop: 0 }, 300);
            $("#vcompany").css("border", "1px solid red");
            return false;
          } else {

            $("#vcompany").css("border", "1px solid green");
            $("#cmp").css("display", "none");

          }
          /*Country Validation*/

          if (country == "") {

            $("#cmp").html('Please enter your Country Name..!');
            $("html, body").animate({ scrollTop: 0 }, 300);
            $("#vcompany").css("border", "1px solid red");
            return false;
          } else {
            $("#country").css("border", "1px solid green");
            $("#cntry").css("display", "none");

          }



          /*State Validation*/

          if (state == "") {
            $("#stt").html('Please enter your State Name..!');
            $("html, body").animate({ scrollTop: 0 }, 300);
            $("#state").css("border", "1px solid red");
            return false;
          } else {
            $("#state").css("border", "1px solid green");
            $("#stt").css("display", "none");

          }


          /*City Validation*/

          if (city == "") {
            $("#cty").html('Please enter your City Name..');
            $("html, body").animate({ scrollTop: 0 }, 150);
            $("#city").css("border", "1px solid red");
            return false;
          } else {
            $("#city").css("border", "1px solid green");
            $("#cty").css("display", "none");
          }


          /*Industry Validation*/

          if (industry == "") {

            $("#ind").html('Please Select Industry Name..');
            $("html, body").animate({ scrollTop: 0 }, 300);
            $("#industry").css("border", "1px solid red");
            return false;
          } else {
            $("#industry").css("border", "1px solid green");
            $("#ind").css("display", "none");

          }


          /*SubIndustry Validation*/

          if (subindustry == "") {

            $("#sbind").html('Please Select your Subindustry Name..');
            $("html, body").animate({ scrollTop: 0 }, 300);
            $("#subindustry").css("border", "1px solid red");
            return false;
          } else {

            $("#subindustry").css("border", "1px solid green");
            $("#sbind").css("display", "none");

          }

          /*Place Validation*/

          if (place == "") {

            $("#pls").html('Please enter your Place..!');
            $("html, body").animate({ scrollTop: 640 }, 200);
            $("#place").css("border", "1px solid red");
            return false;
          } else {

            $("#place").css("border", "1px solid green");
            $("#pls").css("display", "none");

          }


          /*Pincode Validation*/

          if (pincode.length != 6) {
            $("#pic").html('Please enter your Pin code..');
            $("html, body").animate({ scrollTop: 695 }, 100);
            $("#pincode").css("border", "1px solid red");
            return false;
          } else {

            $("#pincode").css("border", "1px solid green");
            $("#pic").css("display", "none");

          }



          /*Adress Validation*/

          if (vaddress == "") {

            $("#vadr").html('Please enter your Address...!');
            $("html, body").animate({ scrollTop: 800 }, 100);
            $("#vadr").css("border", "1px solid red");
            return false;
          } else {

            $("#vaddress").css("border", "1px solid green");
            $("#vadr").css("display", "none");

          }

          /*Pan Validation*/

          // if (panno.length == 10) {

          //   $("#pan").html('Please enter your Pan Card Number..!');
          //   $("html, body").animate({ scrollTop: 775 }, 10);
          //   $("#panno").css("border", "1px solid red");
          //   return false;
          // } else {

          //   $("#panno").css("border", "1px solid green");
          //   $("#pan").css("display", "none");

          // }
          /*GST Validation*/

          if (gstno == "") {

            $("#gst").html('Please enter your GST Number..!');
            $("html, body").animate({ scrollTop: 900 }, 100);
            $("#gstno").css("border", "1px solid red");
            return false;
          } else {

            $("#gstno").css("border", "1px solid green");
            $("#gst").css("display", "none");

          }



          /Adhar Validation*/

          if (adharno.length != 12) {

            $("#adhar").html('Please enter your GST Number..!');
            $("html, body").animate({ scrollTop: 900 }, 100);
            $("#adharno").css("border", "1px solid red");



            return false;
          } else {

            $("#adharno").css("border", "1px solid green");
            $("#adhar").css("display", "none");

          }

          /*Office location Validation*/

          if (officeaddress == "") {

            $("#ofadr").html('Please enter your Office Location..!');
            $("html, body").animate({ scrollTop: 980 }, 200);
            $("#officeaddress").css("border", "1px solid red");



            return false;
          } else {

            $("#officeaddress").css("border", "1px solid green");
            $("#ofadr").css("display", "none");

          }



          /*Account Validation*/

          if (accountno == "") {

            $("#acn").html('Please enter your Account Number..!');
            $("html, body").animate({ scrollTop: 1023 }, 100);
            $("#accountno").css("border", "1px solid red");



            return false;
          } else {

            $("#accountno").css("border", "1px solid green");
            $("#acn").css("display", "none");

          }


          /*Account holder  Validation*/

          if (assocname == "") {

            $("#ac_name").html('Please enter Accountholder name..!');
            $("html, body").animate({ scrollTop: 1070 }, 100);
            $("#assocname").css("border", "1px solid red");



            return false;
          } else {

            $("#assocname").css("border", "1px solid green");
            $("#ac_name").css("display", "none");

          }


          /*Bank name  Validation*/

          if (bankname == "") {

            $("#bname").html('Please enter Bank name..!');
            $("html, body").animate({ scrollTop: 1130 }, 100);
            $("#bankname").css("border", "1px solid red");



            return false;
          } else {

            $("#bankname").css("border", "1px solid green");
            $("#bname").css("display", "none");

          }


          /*Branch  Validation*/

          if (branch == "") {

            $("#branchname").html('Please enter Branch..!');
            $("html, body").animate({ scrollTop: 1180 }, 100);
            $("#branch").css("border", "1px solid red");



            return false;
          } else {

            $("#branch").css("border", "1px solid green");
            $("#branchname").css("display", "none");

          }

          /*IFSC code  Validation*/

          if (ifsc == "") {

            $("#ifsccode").html('Please enter IFSC code..!');
            $("html, body").animate({ scrollTop: 1180 }, 100);
            $("#ifsc").css("border", "1px solid red");



            return false;
          } else {

            $("#ifsc").css("border", "1px solid green");
            $("#ifsccode").css("display", "none");

          }


          $.post("/users/partner",{},function(d){
            console.log(d);
          });

        });





      </script>

      <script>
        function getcategory(val) {
          $.ajax({
            type: "POST",
            url: "/getsubcat/",
            data: 'data=' + val,
            success: function (data) {

              $("#subindustry").empty();
              $("#subindustry").append("<option>--Select Subcategory--</option>");
              for (i in data) {

                $("#subindustry").append($('<option>', {
                  value: data[i].id,
                  text: data[i].subcategory_name,
                }));
              }
            }
          });
        }
      </script>

      <script>
        $(".onesotp").click(function () {

          username = $('#other_otp').val();

          $.ajax({
            url: "/vweb_verify_otp/",
            type: "POST",
            data: { 'other_otp': username },
            success: function (resp) {

              if (resp.add == 1) {

                $("#msg_div34").html('<p>Verified </p>')
                $('#myModa13').modal('hide')
              } else {
                $("#msg_div34").html('<p>You enter wrong otp  </p>')
              }
            }
          });
        });

        var obj = document.getElementById('other_otp');
        obj.addEventListener("keydown", stopCarret);
        obj.addEventListener("keyup", stopCarret);

        function stopCarret() {
          if (obj.value.length > 3) {
            setCaretPosition(obj, 3);
          }
        }

        function setCaretPosition(elem, caretPos) {
          if (elem != null) {
            if (elem.createTextRange) {
              var range = elem.createTextRange();
              range.move('character', caretPos);
              range.select();
            }
            else {
              if (elem.selectionStart) {
                elem.focus();
                elem.setSelectionRange(caretPos, caretPos);
              }
              else
                elem.focus();
            }
          }
        }






      </script>

      <div class="copyright white-bg mt-50">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-sm-4" style="margin-top: 1.3%">
              <ul class="list-inline text-left">
                <li>
                  <a href="#">Terms &amp; Conditions </a> &nbsp;&nbsp;&nbsp;|</li>
                <li>
                  <a href="#">API Use Policy </a> &nbsp;&nbsp;&nbsp;|</li>
                <li>
                  <a href="#">Privacy Policy </a> &nbsp;&nbsp;&nbsp;|</li>
                <li>
                  <a href="#">Cookies </a>
                </li>
              </ul>
            </div>
            <div class="col-lg-4 col-sm-4" style="margin-top: 1.3%">
              <div class="text-center">
                <p> &copy;Copyright
                  <span id="copyright">
                    <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                  </span>
                  <a href="#">Freedom Club</a> All Rights Reserved </p>
              </div>

            </div>
            <div class="col-lg-3 col-sm-4">
              <ul class="kw-social-links">
                <li>
                  <a target="_blank" href="https://www.facebook.com/freedomclubteam/">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://plus.google.com/u/0/">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://twitter.com/freedomclub18">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://www.linkedin.com/in/freedom-club-aa1a21156/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
                <li>
                  <a target="_blank" href="https://www.instagram.com/freedomclub18/">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>

              </ul>
            </div>

          </div>
        </div>

      </div>
      <div id="back-to-top">
        <a class="top arrow" href="#top">
          <i class="fa fa-angle-up"></i>
          <span>TOP</span>
        </a>
      </div>
      <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
      <script type="text/javascript" src="/static/js/plugins-jquery.js"></script>
      <script type="text/javascript">var plugin_path = '/static/js/';</script>
      <script type="text/javascript" src="/static/js/custom.js"></script>

      <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
      </script>




      <script>
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
          if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }

      </script>
      <script>
        function myFunction1() {
          document.getElementById("myDropdown1").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
          if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }

      </script>

      <script>
        function myFunction2() {
          document.getElementById("myDropdown2").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
          if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }

      </script>

</body>

</html>