<div class="tz-l">
    <div class="tz-l-1">
        <ul>
            <li>
                <img src="/profile/<%= profile %>" alt="" /> </li>
            <li>
                <span>80%</span> profile compl</li>
            <li>
                <span>18</span> Notifications</li>
        </ul>
    </div>
    <form method="POST" action="/users/profile" enctype="multipart/form-data">
        <div class="form-group">
            <!--<span class="btn btn-info file-btn btn-block"> Change Profile</span>-->
            <!--<input type="file" name="images" class="form-control file-select1011">-->
            <!--<input type="file" name="images" class="form-control ">-->


            <div class="file-field input-field">
                <div class="tz-up-btn">
                    <span>Edit</span>
                    <input type="file" name="images"> </div>
                <div class="file-path-wrapper db-v2-pg-inp">
                    <input class="file-path validate" type="text" style="background-color:#fff; border:2px solid #630; padding-left:10px;">
                </div>
            </div>


        </div>
        <input type="submit" value="submit" class="add btn btn-primary pr-sub btn-block">
    </form>
    <div class="manage-dashboard111">
        <buttonn class="btn btn-primary btn-block pr-sub" id="manage-dashboard111">Manage Dashboard </buttonn>
    </div>
    <div class="tz-l-2">
        <ul>
            <li>
                <a href="/users" class="tz-lma">
                    <img src="/images/icon/dbl1.png" alt="" /> My Dashboard</a>
            </li>

            <li>
                <a href="/users/profile">
                    <img src="/images/icon/dbl6.png" alt="" /> My Profile</a>
            </li>

          
            

            <!-- <li>
                <a href="/users/partner">
                    <img src="/images/icon/dbl3.png" alt="" />Be a Patner</a>
            </li> -->

            <% if(vid!=8 && vid!=7 && vid!=6 && vid!=5){ %>
            <li>
                <a href="/users/partner">
                    <img src="/images/icon/dbl3.png" alt="" />Be a Patner</a>
            </li>
            <% } %>
            <li>
                <a href="/users/wallet">
                    <img src="/images/icon/dbl14.png" alt="" />My Wallet</a>
            </li>
            <!-- <li>
                <a href="/users/recharge"><img src="/images/icon/dbl14.png" alt="" />My Recharge</a>
            </li> -->

            <li>
                <a href="/users/recharge">
                    <img src="/images/icon/dbl14.png" alt="" />My History</a>
            </li>

            <% if(status==200 && vid==8){ %>
                <li>
                    <a href="/users/bill_list">
                        <img src="/images/icon/dbl14.png" alt="" />Merhant Bill List</a>
                </li>
                <li>
                    <a href="/users/commision">
                        <img src="/images/icon/dbl14.png" alt="" />MY Commision Detail</a>
                </li>

                <li>
                    <a href="/users/userlisting">
                        <img src="/images/icon/dbl14.png" alt="" />Users listing</a>
                </li>
                <li>
                    <a href="/users/merchant">
                        <img src="/images/icon/dbl6.png" alt="" /> Merchant Profile</a>
                </li>
                <% } %>


            <% if(status==200 && vid==7){ %>
                <li>
                    <a href="/users/fmpcommision">
                        <img src="/images/icon/dbl14.png" alt="" />FMP Commision Detail</a>
                </li>

                <li>
                    <a href="/users/merchantlisting">
                        <img src="/images/icon/dbl14.png" alt="" />Merhant listing</a>
                </li>
                <% } %>

                <% if(status==200 && vid==6){ %>
                    <li>
                        <a href="/users/commision">
                            <img src="/images/icon/dbl14.png" alt="" /> Commision Detail</a>
                    </li>
    
                    <li>
                        <a href="/users/fplist">
                            <img src="/images/icon/dbl14.png" alt="" />FP listing</a>
                    </li>
                    <% } %>

                    <% if(status==200 && vid==5){ %>
                        <li>
                            <a href="/users/commision">
                                <img src="/images/icon/dbl14.png" alt="" />MY Commision Detail</a>
                        </li>
        
                        <li>
                            <a href="/users/fsplist">
                            <img src="/images/icon/dbl14.png" alt="" />FSP listing</a>
                        </li>
                        <% } %>


                    <% if(vid!=8 && vid!=7 && vid!=6 && vid!=5){ %>
                        
                      
                        <li>
                            <a href="/users/upload">
                            <img src="/images/icon/dbl14.png" alt="" />Upload Bill</a>
                        </li>

                        <li>
                            <a href="/users/my_bill">
                                <img src="/images/icon/dbl14.png" alt="" />My Bill</a>
                        </li>

                        <!-- <li>
                <a href="/users/bill"><img src="/images/icon/dbl14.png" alt="" />My Bill List</a>
            </li> -->

                        <li class="dropdown">

                            <a href="/users/bill" class="dropdown-toggle" id="menu1101" data-toggle="dropdown">
                                <img src="/images/icon/dbl14.png" alt="" />My GPV
                                <span class="caret"></span>
                                </button>
                            </a>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1101" style="width: 100%; border: none; padding: 0px 10px;">
                                <li>
                                    <a href="/users/my_gpvlist">
                                        <img src="/images/icon/dbl14.png" alt="" />My GPV List</a>
                                </li>
                                <li>
                                    <a href="/users/ten_gpvlist">
                                        <img src="/images/icon/dbl14.png" alt="" />My 10% GPV List</a>
                                </li>

                                <li>
                                    <a href="/users/twnty_fivegpvlist">
                                        <img src="/images/icon/dbl14.png" alt="" />My 25% GPV List</a>
                                </li>

                                <li>
                                    <a href="/users/fifty_gpvlist">
                                        <img src="/images/icon/dbl14.png" alt="" />My 50% GPV List</a>
                                </li>

                                <li>
                                    <a href="/users/hundred_gpvlist">
                                        <img src="/images/icon/dbl14.png" alt="" />My 100% GPV List</a>
                                </li>
                            </ul>


                        </li>
                        <% } %>


                            <% if(status==200 && vid==8){ %>

                                <li class="dropdown">

                                    <a href="#" class="dropdown-toggle" id="menu1102" data-toggle="dropdown">
                                        <img src="/images/icon/dbl14.png" alt="" />Manage Product
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1101" style="width: 100%; border: none; padding: 0px 10px;">
                                        <li>
                                            <a href="/products">
                                                <img src="/images/icon/dbl14.png" alt="" />My Product</a>
                                        </li>

                                        <li>
                                            <a href="/products/add_product">
                                                <img src="/images/icon/dbl14.png" alt="" />Add Product</a>
                                        </li>


                                        <li>
                                            <a href="/products/offers">
                                                <img src="/images/icon/dbl14.png" alt="" />Add Offer</a>
                                        </li>

                                        <li>
                                            <a href="/products/services">
                                                <img src="/images/icon/dbl14.png" alt="" />Add Services</a>
                                        </li>



                                        <li>
                                            <a href="/products/gallery">
                                                <img src="/images/icon/dbl14.png" alt="" />Add Product Reviews</a>
                                        </li>

                                        <li>
                                            <a href="/products/gallery">
                                                <img src="/images/icon/dbl14.png" alt="" />Add Product Gallery</a>
                                        </li>

                                    </ul>
                                </li>


                                <li>
                                    <a href="/users/recharge">
                                        <img src="/images/icon/dbl14.png" alt="" />My Offer For Customer</a>
                                </li>
                                <% } %>
                                    <li>
                                        <a href="/users/recharge">
                                            <img src="/images/icon/dbl14.png" alt="" />Deactivate/Remove my Account</a>
                                    </li>

                                    <!-- <li>
                <a href="db-post-ads.html"><img src="/images/icon/dbl11.png" alt="" /> Ad Summary</a>
            </li>
            <li>
                <a href="db-payment.html"><img src="/images/icon/dbl9.png" alt=""> Check Out</a>
            </li>
            <li>
                <a href="db-invoice.html"><img src="/images/icon/db21.png" alt="" /> Invoice</a>
            </li>						
            <li>
                <a href="db-claim.html"><img src="/images/icon/dbl7.png" alt="" /> Claim & Refund</a>
            </li>
            <li>
                <a href="admin-setting.html"><img src="/images/icon/dbl210.png" alt="" /> Setting</a>
            </li> -->
                                    <li>
                                        <a href="/logout">
                                            <img src="/images/icon/dbl12.png" alt="" /> Log Out</a>
                                    </li>
        </ul>
    </div>
</div>


<script type="text/javascript">
//  $.ajax({
//       method:"GET",
//        url: "http://freedomclub.in/get_profile/?id=203",
//        headers: { 'Access-Control-Allow-Origin': '*' },
//        crossDomain: true,
//        datatype: 'json',
//        success: function (d) {
//            console.log(d);
//        },
//        error: function(d) {alert('it doesnt work')}
//    });
</script>
<script>
    $(document).ready(function () {
        $("#manage-dashboard111").on("click", function () {
            $(".tz-l-2").slideToggle();
        });
    });
</script>