<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<div class="container">
    <h4>to check Bank/Wallet/Kyc Status.</h4>
    <div class="row">
       <div class="col-md-4"></div>
       <div class="col-md-4" style="padding-top: 5%">
            <input type="text" class="from-control" id="num">
            <button class="btn btn-primary">Sumbit</button>
       </div>
       
    </div>
</div>

<div class="container main" style="display: none;">
        <h2 style="text-align: center; ">Geeting User Information</h2>
        <div class="contact-inner ">
    <div class="row ">
       
        <div class="col-md-6 ">
         <label>Bank Status</label>   
         <label>id</label>  
         <label>Kyc Status</label> 
         <label>Wallet Status</label>  
       
        </div>
        <div class="col-md-6" id="info">
            
        </div>
        </div>
    </div>
</div>


<script type="text/javascript">
$('.btn-primary').on("click",function(){
     $('#info').html(" ");
      var num=$('#num').val();
      $(this).html("Loading..");
    $.post("/api/status",{"number":num},function(d){
        console.log(d);
        $('.btn-primary').html("Submit");
        $('.main').css("display","block");
        $('<div class="formvalue">'+d.rbiResponse.bank_status +
        '</div>'+'<div class="formvalue">'+d.rbiResponse.id +'</div>'+
        '</div>'+'<div class="formvalue">'+d.rbiResponse.kyc_status +'</div>'+
        '</div>'+'<div class="formvalue">'+d.rbiResponse.wallet_status +'</div>').appendTo('#info')
    });
});
</script>

<style>
    .contact-inner {
        max-width: 500px;
        width:100%;
        margin: auto;
        display: block;
        border: 1px solid #eee;
        overflow: hidden;
        background: #f2f2f2;
    }
    .contact-inner label {
    border-right: 1px solid #ddd;
    margin: 0;
    padding: 10px 15px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.contact-inner label:last-child {
    border-bottom: none;
}
.contact-inner .formvalue {

    margin: 0;
    padding: 10px 15px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.contact-inner .formvalue:last-child {
    border-bottom: none;
}

    .formvalue {
        padding:10px 15px;
    }
</style>