.tab {
      float: left;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      width: 30%;
      height: 300px;
    }
    .frm-grp100101{
        margin-bottom:5px;
    }

    /* Style the buttons inside the tab */

    .tab button {
      display: block;
      background-color: inherit;
      color: black;
      padding: 15px 16px;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
      font-size: 17px;
    }
#clickclick{
    font-size:11px;
    color:#630;
    margin-left:81%;
        cursor: pointer;
}
    /* Change background color of buttons on hover */

    .tab button:hover {
      background-color: #ddd;
      border-left: 5px solid #630;
    }

    /* Create an active/current "tab button" class */

    .tab button.active {
      background-color: #ccc;
      border-left: 5px solid #630;
    }

    /* Style the tab content */

    .tabcontent {
      float: left;
      padding: 0px 12px;
      border: 1px solid #ccc;
      width: 70%;
      border-left: none;
      height: 300px;
      background: #fff;
    }
  .panel {
  border-radius: 5px;
}
label {
  font-weight: 300;
}
.panel-login {
   border: none;
  -webkit-box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
  -moz-box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
  box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
  }


.poast-btn110011{
    display:none;
}
.panel-login>.panel-heading .tabsss{
  padding: 0;
  width:30% !important;
}
.panel-login h2{
  font-size: 20px;
  font-weight: 300;
  margin: 15px 30px;
}
.benifits11021 h2{
  font-size: 20px;
  font-weight: 300;
  color:#630;
  margin-bottom:30px;
}
.benifits11021{
    padding:0px !important;
    margin-bottom:0px !important;
    background-color:#e8dfb1 !important;
    height: 440px;
    padding: 22px !important;
}
.benifits1102111 h2{
  font-size: 30px;
  font-weight: 600;
  color:#630;
  margin-bottom:30px;
  text-align:center;
}
.benifits1102111{
    padding:0px !important;
    margin-bottom:0px !important;
    background-color:#e8dfb1 !important;
    height: 440px;
    padding: 22px !important;
}


.panel-login>.panel-heading {
  color: #630;
  border-color: #fff;
  text-align:center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom: 0px;
  padding: 0px 7px;
}
ul.beni12011{
    list-style-type:none;
}
ul.beni12011 li{
        margin-bottom:35px;
        font-size:15px;
        color:#000;

}
.panel-login .form-group {
  padding: 0 30px;
}
.panel-login>.panel-heading .login {
  padding: 0px 10px;
  border-bottom-left-radius: 0px;
  font-weight: bold;
  text-align: left;
}
.panel-login>.panel-heading .register {
  padding: 0px 10px;
  border-bottom-right-radius: 0px;
  font-weight: bold;
  text-align: left;
  color: #666;
}
.active111001{
  border-bottom:3px solid #630;
  color: #630;
  font-weight:bold;
  border-radius:0px !important;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: 300;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a#register-form-link {
  color: #fff;
  width: 100%;
  text-align: right;
}
.panel-login>.panel-heading a#login-form-link {
  width: 100%;
  text-align: left;
}

.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 0;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  padding: 6px 15px;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.cnt110110{
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
}
.btn-login {
  background-color: #630 !important;
  outline: none;
  color: #fff !important;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff !important;
  background-color: #630 !important;
}
.forgot-password {
  text-decoration: underline;
  color: blue !important;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: red !important;
}

.btn-register {
  background-color: #630 !important;
  outline: none !important;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff !important;
  background-color: #630 !important;
}
.clsbtn1112{
  padding: 5px 10px !important;
  border-radius: 50%;
  box-shadow: 0 0 5px #ccc;
}

.clsbtn1112:hover{
  background: #f00;
  color: #fff;
  border-radius: 50%;
}
.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

   #owl-demo .item{
  margin: 10px;
  color: #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  height:300px;
  
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Generals resets and unimportant stuff */
* { margin: 0px; padding: 0px; }



/* --- Product Card ---- */
.make-3D-space{
    position: relative;
    width:92%;
    height:100%;
    
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
   transform-style: preserve-3d;
    -webkit-transition: transform 5s;
    -moz-transition: transform 5s;
    -o-transition: transform 5s;
     transition: transform 5s;
    position:absolute;    
    top:0px;
}
.product-front, .product-back{
	width:100%;
	height:230px;
	background:#fff;
	position:absolute;
	left:-5px;
	top:-5px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}

.product-card.animate .product-back, .product-card.animate .product-front{
	top:0px;
	left:0px;
	-webkit-transition: all 100ms ease-out; 
       -moz-transition: all 100ms ease-out; 
         -o-transition: all 100ms ease-out; 
            transition: all 100ms ease-out; 
}
.product-card{
	width:100%;
	height:300px;
	position:absolute;    
	top:0;
	left:0px;	
	overflow:hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out;
}
div.product-card.flip-10{
	 -webkit-transform: rotateY( -10deg );
         -moz-transform: rotateY( -10deg );
           -o-transform: rotateY( -10deg );
              transform: rotateY( -10deg );
			   transition:  50ms ease-out; 			
}
div.product-card.flip90{
	 -webkit-transform: rotateY( 90deg );
         -moz-transform: rotateY( 90deg );
           -o-transform: rotateY( 90deg );
              transform: rotateY( 90deg );
			   transition:  100ms ease-in; 			
}
div.product-card.flip190{
	 -webkit-transform: rotateY( 190deg );
         -moz-transform: rotateY( 190deg );
           -o-transform: rotateY( 190deg );
              transform: rotateY( 190deg );
			   transition:  100ms ease-out; 			
}
div.product-card.flip180{
	 -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
			   transition:  150ms ease-out; 			
}
.product-card.animate{
	top:0px;
	left:0px;
	width:100%;
	height:300px;
	box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);
	-webkit-transition:  100ms ease-out; 
       -moz-transition:  100ms ease-out; 
         -o-transition:  100ms ease-out; 
            transition:  100ms ease-out; 
}
.stats-container{
	background:#fbe0ad;	
	position:absolute;
	top:231px;
	left:0;
	width:100%;
	padding:10px 20px 10px;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}
.product-card.animate .stats-container{
	top:231px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.stats-container .product_name{
	font-size:12px;
	color:#630;	
	font-weight:600;
}
.stats-container p{
	font-size:12px;
	color:#000;	
	padding:2px 0 0px 0;
}
.stats-container .product_price{
	color:#630;
	font-size:15px;
	font-weight:600;
}
.image_overlay{
	position:absolute;
	top:0;
	left:0; 
	width:100%;
	height:100%;
	background:#8a6d3b;
	opacity:0;	
}
.product-card.animate .image_overlay{
	opacity:0.7;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.product-options{
	padding:2px 0 0;
}
.product-options strong{
	font-weight:700;
	color:#393c45;
	font-size:14px;
}
.product-options span{	
	color:#969699;
	font-size:14px;
	display:block;
	margin-bottom:8px;
}
#view_details{	
	position:absolute;
	top:112px;
	left:50%;
	margin-left:-85px;	
	border:2px solid #fff;
	color:#fff;
	font-size:19px;
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;
	width:172px;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
#view_details:hover{	
	background:#fff;
	color:#630;
	cursor:pointer;

}
#view_details a{
    color:#fff;
}
#view_details:hover a{
    color:#630;
    text-decoration:none;
    font-weight:bold;
}
.product-card.animate #view_details{
	opacity:1;
	width:152px;
	font-size:15px;
	margin-left:-75px;
	top:115px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
div.colors div{
	margin-top:3px;
	width:15px; 
	height:15px; 	
	margin-right:5px;
	float:left;
}
div.colors div span{
	width:15px; 
	height:15px; 
	display:block;
	border-radius:50%;
}
div.colors div span:hover{
	width:17px;
	height:17px;
	margin:-1px 0 0 -1px;
}
div.c-blue span{background:#6e8cd5;}
div.c-red span{background:#f56060;}
div.c-green span{background:#44c28d;}
div.c-white span{
	background:#fff;
	width:14px;
	height:14px; 
	border:1px solid #e8e9eb;
}
div.shadow{
	width:335px;height:520px;
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	display:none;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
    background: -o-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); 
}
.product-back div.shadow{
	z-index:10;
	opacity:1;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0.1));
    background: -o-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.1)); 
}
#flip-back{
	position:absolute;
	top:20px;
	right:20px;
	width:30px;
	height:30px;
	cursor:pointer;
}
#cx, #cy{
	background:#d2d5dc;
	position:absolute;
	width:0px;
	top:15px;
	right:15px;
	height:3px;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
#flip-back:hover #cx, #flip-back:hover #cy{
	background:#979ca7;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
#cx.s1, #cy.s1{	
	right:0;	
	width:30px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#cy.s2{	
	-ms-transform: rotate(50deg); 
	-webkit-transform: rotate(50deg); 
	transform: rotate(50deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#cy.s3{	
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#cx.s1{	
	right:0;	
	width:30px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#cx.s2{	
	-ms-transform: rotate(140deg); 
	-webkit-transform: rotate(140deg); 
	transform: rotate(140deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#cx.s3{	
	-ms-transform: rotate(135deg); 
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		 
	-webkit-transition: all 100ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.upload-bill122001{
    color:#fff;
    font-size:16px;
    font-weight:bold;
}

 .carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.logo > .modallogo{
    width:56% !important;
    margin-left:17%;
    margin-top:0;
}

































     /*=====================================================================Responsive Desigening==============================================================*/
     @media (max-width: 667px) and (min-width: 320px) {
         .upload-bill122001{
             display:none;
         }
         .owl-carousel{
             float:left;
         }
         .stats-container{
             display:block;
         }
         .logo-img11221 .logo{
             display:none;
         }
         .modal-subs{
             top:7%;
         }
         .panel-login>.panel-heading .tabsss{
          padding: 0;
          width:25% !important;
          font-size:13px;
        }
        .tabsss33s{
            width:50% !important;
        }
        .col-xs-hidden{
            display:none;
        }
        .panel-login>.panel-heading .login{
            font-size:12px;
        }
        .panel-login>.panel-heading .register{
            font-size:12px;
        }
        .forgot{
            font-size:12px;
        }
         
     }
 
    
    
    
  