<% include ../partials/homepage-header %>
<% include ../partials/common %>
    <div class="tz">
        <% include ../partials/user-left %>


            <div class="tz-2">
                <div class="tz-2-com tz-2-main">
                    <h4> My 10 % GPV <span style="float:right; margin-top:-22px;"><% include ../partials/common %></h4>
                     <table>
                         <thead>
                           <th>name</th>
                           <th>email</th> 
                           <th>image</th> 
                         </thead>
                         <tbody>

                         <% result.forEach(function(res) { %>
                        <tr>
                     
                            <td><%= res.name %></td>
                            <td><%= res.email %></td>
                            <td><img width="200" height="200" src="http://www.freedomclub.in/static/img/<%= res.image %>"></td>
                            
                        </tr>
                        <% }); %>
                         </tbody>
                     </table>
                </div>
            </div>

            <% include ../partials/notification %>
    </div>
    <% include ../partials/home-footer %>