<!DOCTYPE html>
<html>
<head>
    <title>Simple Upload Example</title>
</head>
<body>
<form action="/users/test" enctype="multipart/form-data" method="post">
    <input type="file" name="filetoupload">
    <input type="submit" value="Upload">
</form>
</body>
</html>