<!-- <style>
    .select-wrapper {
    position: relative;
    /* display: table-header-group; */
    padding-top: 0px !important;
    border-bottom-width: 0px !important;
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    border-radius:0px !important;
    
}
.form-control{
    border-radius:0px !important; 
    height: 43px;
    font-size: 13px;
    font-weight: normal;
}
.select-wrapper span.caret{
    display:none !important;
}
.select-wrapper input.select-dropdown {
    display: none !important;
}
.tz-2-main h4{
    color:#fff !important;
    font-weight:bold !important;
    font-size:18px !important;
}

</style> -->

<% include ../partials/homepage-header %>

    <div class="tz">
        <% include ../partials/user-left %>


            <div class="tz-2">
                <div class="tz-2-com tz-2-main">
                    <h4>Add Your Product <span style="float:right; margin-top:-22px;"><% include ../partials/common %></span></h4>
                    <div class="tz-2-main-com add-pr11" style="overflow:auto;">
                        <!-- <div class="tz-2-main-1">
                        <div class="tz-2-main-2"> <img src="images/icon/d1.png" alt="" /><span>All Listings</span>
                            <p>All the Lorem Ipsum generators on the</p>
                            <h2>04</h2> </div>
                    </div> -->


                        <% if ( expressFlash.length > 0 ) { %>
                            <p>
                                <strong>FLASH!</strong>
                                <%= expressFlash %>
                            </p>
                            <% } %>


                                <form method="POST" action="/products/add_product" enctype="multipart/form-data">
                                    <div class="row">
                                        <select class="form-control" name="category_id" id="industry">
                                            <option value="" disabled selected>Industry*</option>
                                            <% data.forEach(function(res) { %>
                                                <option value="<%= res.ids %>">
                                                    <%= res.category_name %>
                                                </option>
                                                <% }); %>
                                        </select>

                                        <select name="subcategory_id" class="form-control sub_industry">
                                            
                                        </select>
                                        <select name="subofsub_id" class="form-control" id="first_industry">

                                        </select>
                                        <select name="subdsub_id" class="form-control" id="second_industry">

                                        </select>

                                        <select name="brand_id" class="form-control" id="selct_brand">

                                        </select>

                                        <div class="form-group">
                                            <input type="text" name="product_name" required class="form-control" placeholder="Product Name">
                                        </div>


                                        <div class="form-group">

                                            <input type="text" name="email" required class="form-control" placeholder="Enter email">
                                        </div>

                                        <div class="form-group">
                                            <span class="btn btn-info file-btn"> Browse File</span>
                                            <input type="file" name="product_image" required class="btn btn-info file-select1011">
                                        </div>

                                        <div class="form-group">
                                            <textarea name="description" class="form-control" rows="5"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="price" required  class="form-control" placeholder=" Product price">
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="mobile" required  class="form-control" placeholder=" Enter mobile">
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="address" required  class="form-control" placeholder="address">
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="pincode" required  class="form-control" placeholder="pincode" >
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="lat" placeholder="latitude" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="lng" placeholder="longitude" class="form-control">
                                        </div>

                                        <input type="submit" value="submit" class="btn btn-primary btn-block pr-sub">
                                    </div>
                                </form>
                    </div>
                </div>
            </div>
            <% include ../partials/notification %>
    </div>
    <% include ../partials/home-footer %>

        <script type="text/javascript">
            $('#industry').on("change", function () {
                $('.sub_industry').html(" ");
                var val = $(this).val();
                $.post("/users/getsubcategory", { "id": val }, function (d) {
                    var data = d.data;
                    if (data.length > 0) {
                        $('.sub_industry').show();
                        $('#first_industry').show();
                        $('#second_industry').show();
                        for (i in data) {
                            // console.log(data[i].ids);
                            $('<option value="' + data[i].ids + '">' + data[i].subcategory_name + '</option>').appendTo('.sub_industry');
                        }
                    }
                    if (data.length == 0) {
                        $('.sub_industry').hide();
                        $('#first_industry').hide();
                        $('#second_industry').hide();
                    }
                });
            });
            $('.sub_industry').on("change", function () {
                $('#first_industry').html(" ");
                var val = $(this).val();
                console.log(val);
                $.post("/users/getsubindustry", { "id": val }, function (d) {
                    var data = d.data;
                    if (data.length > 0) {
                        $('#first_industry').show();
                        $('#second_industry').show();
                        for (i in data) {
                            $('<option value="' + data[i].ids + '">' + data[i].name + '</option>').appendTo('#first_industry');
                        }
                    }
                    if(data.length==0){
                        if(val==948){
                            $.post("/products/getbrand",{"id":val},function(d){
                                var data=d.data;
                                for(i in data){
                                    console.log(data[i].brand_name);
                                    $('<option value="' + data[i].id + '">' + data[i].brand_name + '</option>').appendTo('#selct_brand'); 
                                }
                            });
                        }
                        $('#first_industry').hide();
                        $('#second_industry').hide(); 
                    }
                });
            });
            $('#first_industry').on("change", function () {
                $('#second_industry').html(" ");
                var val = $(this).val();
                $.post("/users/getlastindustry", { "id": val }, function (d) {
                    var data = d.data;
                    console.log(data);
                    for (i in data) {
                        $('<option value="' + data[i].ids + '">' + data[i].name + '</option>').appendTo('#second_industry');
                    }
                });
            });
        </script>