 
  
<% include ../partials/homepage-header %>
    



<style>
    .mobile{
        display:none;
    }
     .bus11{
        display:block;
    }
    [class~=dir-alp-con-left-1]:after {
     border-top-color: #630; 
}
.pagination li a{
    font-size:17.5px;
}
</style>
	<section class="dir-alp dir-pa-sp-top">
		<div class="container">
			<div class="row">
				<div class="dir-alp-tit">
					<h1>Listing Grid View</h1>
					<ol class="breadcrumb">
						<li><a href="#">Home</a> </li>
						<li><a href="#">Listing</a> </li>
						<li class="active">Grid View</li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="dir-alp-con">
					<div class="col-md-5 dir-alp-con-left">
						<div class="dir-alp-con-left-1">
							<h3>Pay Your Bill / Book your Ticket</h3> </div>
						
						<!--==========Sub Category Filter============-->
						<div id="mobile" class="mobile flight11">
                          <h3>Recharge Your Mobile.</h3>
                          <p>
                             </p><form>
                               <label class="radio-inline mob-op">
                                 <input type="radio" name="optradio" checked="">One Way
                                  <span class="checkmark"></span>
                               </label>
                               <label class="radio-inline mob-op">
                                 <input type="radio" name="optradio">Round Trip
                                 <span class="checkmark"></span>
                               </label>

                                <div class="floated-label-wrapper form-group">
                                  <label for="full-name" class="active">From.</label> 
                                  <input type="text" id="full-name1" name="full name input" placeholder="From  " class="form-control recharge-form">
                                </div>
                                
                                <div class="floated-label-wrapper form-group">
                                  <label for="full-name" class="active">To.</label> 
                                  <input type="text" id="full-name1" name="full name input" placeholder="To  " class="form-control recharge-form">
                                </div>
                                
                               <div class="floated-label-wrapper form-group">
                                  <label for="full-name" class="active">Date </label> 
                                  <input type="date" id="full-name1" name="full name input" placeholder="Date " class="form-control recharge-form">
                                </div>
                                
                                <div class="floated-label-wrapper form-group">
                                  <label for="full-name" class="active">Return Date </label> 
                                  <input type="date" id="full-name1" name="full name input" placeholder="Return Date " class="form-control recharge-form">
                                </div>
                                
                                <div class="floated-label-wrapper form-group">
                                  <label for="email">Travelor Class</label>
                                 <select id="metro" name="metro" class="form-control recharge-form">
                                    <option value="AT">Economy</option>
                                    <option value="VF">Premium Economy</option>
                                    <option value="ID">Busnesss Class</option>
                                 </select>
                                </div>
                                
                                <!--<div class="floated-label-wrapper form-group">-->
                                <!--  <label for="pass" class="active">Enter </label>-->
                                <!--  <input type="text" id="amount" name="amount" placeholder="Enter Amount" class="form-control recharge-form">-->
                                <!--</div>-->
                                <input class="btn btn-primary rechrgebutton" type="submit" value="Search Now">

                               
                             </form>
                          <p></p>
                        </div>
                        
                        <div id="mobile" class="mobile bus11">
                          <h3>Book Your Bus Ticket </h3>
                          <p>
                             </p><form>

                                <div class="floated-label-wrapper form-group">
                                  <label for="full-name" class="active">From </label> 
                                  <input type="text" id="full-name1" name="full name input" placeholder="From " class="form-control recharge-form">
                                </div>
                                <div class="floated-label-wrapper form-group">
                                  <label for="full-name" class="active">To </label> 
                                  <input type="text" id="full-name1" name="full name input" placeholder="To " class="form-control recharge-form">
                                </div>
                                <div class="floated-label-wrapper form-group">
                                  <label for="full-name" class="active">Date </label> 
                                  <input type="date" id="full-name1" name="full name input" placeholder="Date " class="form-control recharge-form">
                                </div>
                                
                                <input class="btn btn-primary rechrgebutton" type="submit" value="Search Now">

                               
                             </form>
                          <p></p>
                        </div>
						<!--==========End Sub Category Filter============-->
						<!--==========Sub Category Filter============-->
						
						<!--==========End Sub Category Filter============-->
						<!--==========Sub Category Filter============-->
						
						<!--==========End Sub Category Filter============-->
					</div>
					<div class="col-md-7 dir-alp-con-right list-grid-rig-pad">
						<div class="dir-alp-con-right-1">
							<div class="row">
								<!--LISTINGS-->
								<div class="row span-none">
									<div class="col-md-3">
										<a href="javascript:void(0)" id="flight11">
											<div class=" com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/flight12121.png" alt=""> <p class="recharge-title12112">Flight Booking </p> </div>
												
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/event12121.png" alt=""> <p class="recharge-title12112">Event Booking  </p> </div>
												
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/gift-card12121.png" alt=""> 
												<p class="recharge-title12112">Gift Card  </p>
												</div>
												
												
												
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/car12112.png" alt=""> <p class="recharge-title12112"> Car/ Bike  Booking  </p> </div>
												
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/match1122.png" alt="">  <p class="recharge-title12112">  Cricket Ticket  </p> </div>
												
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/movie.png" alt=""> <p class="recharge-title12112">  Book Your Movie  </p> </div>
											
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/train.png" alt=""> <p class="recharge-title12112">  Book Your Train Ticket  </p> </div>
												
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/landline1212.png" alt=""> <p class="recharge-title12112">  Recharge your LandLine  </p>  </div>
												
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/insurance12121.png" alt=""> <p class="recharge-title12112">  Pay Your Insurance  </p> </div>
												
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/water121212.png" alt=""> <p class="recharge-title12112">  Pay Your Water Bill  </p> </div>
											
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a href="javascript:void(0)" id="bus11">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/bus.png" alt=""> <p class="recharge-title12112">  Book Bus Ticket </p> </div>
												
											</div>
										</a>
									</div>
									<div class="col-md-3">
										<a href="javascript:void(0)">
											<div class="com-mar-bot-30">
												<div class="list-mig-lc-img recg-img"> <img src="/images/more-icon/toll12121.png" alt=""> <p class="recharge-title12112">  Pay Your Tool Tax </p> </div>
												
											</div>
										</a>
									</div>
									
										</a>
									</div>
									<div class="row">
										<ul class="pagination list-pagenat">
											<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a> </li>
											<li class="active"><a href="#!">1</a> </li>
											<li class="waves-effect"><a href="#!">2</a> </li>
											<li class="waves-effect"><a href="#!">3</a> </li>
											<li class="waves-effect"><a href="#!">4</a> </li>
											<li class="waves-effect"><a href="#!">5</a> </li>
											<li class="waves-effect"><a href="#!">6</a> </li>
											<li class="waves-effect"><a href="#!">7</a> </li>
											<li class="waves-effect"><a href="#!">8</a> </li>
											<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a> </li>
										</ul>
									</div>
								</div>
								<!--LISTINGS END-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<!--NEWS LETTER--->
	
	<section class="Subscribe-section">  
          
          <div class="container-fluid">
            <div class="container">
              <div class="Subscribe">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <div class="subsimg1">
                      <img src="/images/subs1.png">
                    </div>
                  </div>

                  <div class="col-md-8 col-sm-8">
                    <div class="subs-form text-center">
                        <h2>Newsletter</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                           <form class="form-horizontal">

<!-- Form Name -->

<!-- Text input-->
<div class="form-group">
  <label class="control-label active" for="email"></label>  
  <input id="email" name="email" type="email" placeholder="Enter Your Email" class="form-control input-md" required=""><br>
    <button id="subs" name="subs" class="btn btn-default">GET NOTIFIED</button>
</div>
</form>
<!-- Button -->

                    </div>
                  </div>

                  <div class="col-md-2 col-sm-2">
                    <div class="subsimg2">
                      <img src="/images/subs2.png">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
	
	<!--END NEWS LETTER--->
	<!--MOBILE APP-->
	
	<section class="app-section">
                <div class="container-fluid">
                  <div class="container">
                    <div class="app">
                      <div class="row">
                         <div class="col-md-8 col-sm-8 col-xs-6">
                           <div class="app-img">
                             <img src="/images/appimg.png">
                           </div>
                         </div>
                         <div class="col-md-4 col-sm-4 col-xs-6">
                           <div class="download-app">
                             <ul>
                               <li>
                                 <div class="applogo-img text-center">
                             <img src="/images/applogo.png">
                           </div>
                                </li>
                               <li>
                                 <div class="appstore-img text-center">
                             <img src="/images/appstore.png">
                           </div>
                               </li>
                               <li>
                                 <div class="playstore-img text-center">
                             <img src="/images/playstore.png">
                           </div>
                               </li>
                             </ul>
                           </div>
                         </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              
              
              
              
              
              
              <script>
              $(document).ready(function(){
                  $("#flight11").click(function(){
                     $(".flight11").show(); 
                     $(".bus11").hide(); 
                     
                  });
                   $("#bus11").click(function(){
                     $(".flight11").hide(); 
                     $(".bus11").show(); 
                     
                  });
              });
                  
              </script>
	
	
	
	<!--FOOTER SECTION-->
		
                   
      
       <% include ../partials/home-footer %>

<script>
  $(function () {
  var showClass = 'show';

  $('input').on('checkval', function () {
    var label = $(this).prev('label');
    if(this.value !== '') {
      label.addClass(showClass);
    } else {
      label.removeClass(showClass);
    }
  }).on('keyup', function () {
    $(this).trigger('checkval');
  });
});


</script>

<script>
  // When the DOM is ready, run this function
$(document).ready(function() {
  //Set the carousel options
  $('#quote-carousel, #quote-carousel1').carousel({
    pause: true,
    interval: 4000,
  });
});
</script>



<script>
  $(document).ready(function(){

$('#itemslider').carousel({ interval: 3000 });

$('.carousel-showmanymoveone .item').each(function(){
var itemToClone = $(this);

for (var i=1;i<6;i++) {
itemToClone = itemToClone.next();

if (!itemToClone.length) {
itemToClone = $(this).siblings(':first');
}

itemToClone.children(':first-child').clone()
.removeClass("cloneditem-"+(i))
.appendTo($(this));
}
});
});

</script>


<script>
    $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    }
  );
</script>
<script>
$(document).ready(function(){
    $("#share").click(function(){
        $(".social-btns").toggle();
    });
});
</script>



	<script>
	   $(document).ready(function(){
    $("#mng-db").click(function(){
        $(".tz-l-2").slideToggle();
    });
});
	</script>


 </body>
</html>